Repository ministryofjustice/opg-use-an-lpa, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, terraform, github-actions, service-admin, service-api, service-front, docker, python, php, go, javascript

upgrade to 3.15 of govuk-frontend
  docker-compose.dependencies.yml
  service-front/web/package-lock.json
  service-front/web/package.json
Labels: docker

use environment name as prefix when accessing paramter store
  service-admin/cmd/admin/main.go
  service-admin/internal/server/data/ssm_connection.go
  service-admin/internal/server/data/ssm_connection_test.go
  service-admin/internal/server/data/system_message_test.go
Labels: go

fixes
  terraform/environment/parameter_store.tf
  terraform/environment/region/admin_ecs.tf
Labels: terraform

conditional routing for /login
  service-front/app/config/routes.php
  service-front/app/src/Common/src/Middleware/Routing/ConditionalRoutingMiddleware.php
Labels: php

use /system-message/ENV/en/cy for for paramter store
  service-admin/internal/server/data/ssm_connection.go
  service-admin/internal/server/data/system_message.go
  service-admin/internal/server/data/system_message_test.go
  service-admin/internal/server/handlers/systemmessage.go
  service-admin/web/templates/systemmessage.page.gohtml
Labels: go

fix
  service-admin/internal/server/data/ssm_connection.go
Labels: go

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: docs/**

terraform:
- changed-files:
  - any-glob-to-any-file: terraform/**

github-actions:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**

service-admin:
- changed-files:
  - any-glob-to-any-file: services-admin/**

service-api:
- changed-files:
  - any-glob-to-any-file: services-api/**

service-front:
- changed-files:
  - any-glob-to-any-file: services-front/**


docker:
- changed-files:
  - any-glob-to-any-file:
    - '**/Dockerfile'
    - '**/docker-compose*'

python:
- changed-files:
  - any-glob-to-any-file: '**/*.py'

php:
- changed-files:
  - any-glob-to-any-file: '**/*.php'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

javascript:
- changed-files:
  - any-glob-to-any-file: '**/*.js'
