Repository ministryofjustice/opg-use-an-lpa, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, terraform, github-actions, service-admin, service-api, service-front, docker, python, php, go, javascript, dependencies

UML-3479 updated translation for the link
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Labels: service-front

Uml 3240 working phpunit integration tests (#2686)
  .github/workflows/_build-and-push.yml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpunit.xml
  .idea/runConfigurations/API.xml
  .idea/runConfigurations/API_Functional.xml
  docker-compose.testing.yml
  service-api/app/composer.json
  service-api/app/phpunit.xml.dist
  service-api/app/src/App/src/Service/Container/ModifiableContainerInterface.php
  service-api/app/src/App/src/Service/Container/PhpDiModifiableContainer.php
  service-api/app/test/FunctionalTest/AbstractFunctionalTestCase.php
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/pacts/.gitkeep
  service-front/app/phpunit.xml.dist
Labels: github-actions, service-api, service-front, docker, php, dependencies

UML-3498: increase scaling temporarily
  terraform/environment/terraform.tfvars.json
Labels: terraform

Remove pdf scaling
  terraform/environment/terraform.tfvars.json
Labels: terraform

add template arg
  bulk_email/send_via_notify.py
Labels: python

emails script and instructions link
  bulk_email/README.md
  bulk_email/get_emails.py
Labels: python

change default to demo
  bulk_email/get_emails.py
Labels: python

conditional routing in middleware
  service-front/app/src/Common/src/Middleware/Authentication/AuthenticationMiddleware.php
  service-front/app/src/Common/src/Middleware/Routing/ConditionalRoutingMiddleware.php
  service-front/app/test/CommonTest/Middleware/Authentication/AuthenticationMiddlewareTest.php
Labels: service-front, php

UML-3498: increase scaling temporarily (#2705)
  terraform/environment/terraform.tfvars.json
Labels: terraform

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'docs/**'

terraform:
- changed-files:
  - any-glob-to-any-file: 'terraform/**'

github-actions:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/**'

service-admin:
- changed-files:
  - any-glob-to-any-file: 'service-admin/**'

service-api:
- changed-files:
  - any-glob-to-any-file: 'service-api/**'

service-front:
- changed-files:
  - any-glob-to-any-file: 'service-front/**'


docker:
- changed-files:
  - any-glob-to-any-file:
    - '**/Dockerfile'
    - '**/docker-compose*'

python:
- changed-files:
  - any-glob-to-any-file: '**/*.py'

php:
- changed-files:
  - any-glob-to-any-file: '**/*.php'

go:
- changed-files:
  - any-glob-to-any-file: '**/*.go'

javascript:
- changed-files:
  - any-glob-to-any-file: '**/*.js'

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - '**/requirements*.txt'
    - '**/package*.json'
    - '**/yarn*.lock'
    - '**/Gemfile*'
    - '**/composer*.json'
    - '**/go.mod'
    - '**/go.sum'
    - '**/vendor/**'
    - '**/node_modules/**'
    - '**/vendor/**'
