Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2024-05, with the labels that each got.

#2598 Fix forward overly long certificate domain name.
  terraform/account/region/certificate.tf
Labels: terraform

#2577 UML-2981 Show system messages on use side
  service-api/app/features/actor-dashboard.feature
  service-api/app/features/system-message.feature
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
  service-front/app/src/Actor/templates/actor/partials/service-message.html.twig
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Service/SystemMessage/SystemMessageService.php
  service-front/app/src/Common/src/Service/SystemMessage/SystemMessageServiceFactory.php
  service-front/app/test/CommonTest/Service/SystemMessage/SystemMessageServiceFactoryTest.php
  service-front/app/test/CommonTest/Service/SystemMessage/SystemMessageServiceTest.php
Labels: php, terraform, docker

#2601 UML-2981 Add GetParameters permission
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
Labels: terraform

#2588 Uml 2982 system message view
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/view-lpa-using-sharecode.feature
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
  service-front/app/src/Viewer/templates/viewer/partials/service-message.html.twig
  service-front/app/test/ViewerTest/Handler/EnterCodeHandlerTest.php
Labels: php

#2592 UML-3410 display system message on landing page
  service-front/app/features/actor-triage.feature
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/src/Actor/src/Handler/ActorTriagePageHandler.php
  service-front/app/src/Actor/templates/actor/home-page.html.twig
Labels: php

#2605 Add trim operation to return of parameter store
  service-api/app/src/App/src/Service/SystemMessage/SystemMessage.php
  service-api/app/test/AppTest/Service/SystemMessage/SystemMessageFactoryTest.php
  service-api/app/test/AppTest/Service/SystemMessage/SystemMessageTest.php
Labels: php

#2596 Uml 3180 Get mock one login functioning in ephemeral environments
  docker-compose.yml
  mock-integrations/secrets-manager/localstack_init.sh
  service-api/app/config/autoload/envs.global.php
  service-api/app/features/context/Acceptance/OidcContext.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationService.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/OneLoginIdentityKeyPairManager.php
  service-api/app/test/AppTest/Service/Authentication/KeyPairManager/KeyPairManagerTest.php
  terraform/account/.terraform.lock.hcl
  terraform/environment/.terraform.lock.hcl
  terraform/environment/locals.tf
  terraform/environment/modules/iam/iam_ecs_task_roles.tf
  terraform/environment/modules/iam/outputs.tf
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/certificates.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/mock_onelogin_load_balancer.tf
  terraform/environment/region/variables.tf
  terraform/environment/shared_data_sources.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Labels: php, terraform, docker

#2599 uml-3355: cache system messages
  service-api/app/config/autoload/envs.global.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Handler/SystemMessageHandler.php
  service-api/app/src/App/src/Service/SystemMessage/CachedSystemMessage.php
  service-api/app/src/App/src/Service/SystemMessage/CachedSystemMessageDelegatorFactory.php
  service-api/app/src/App/src/Service/SystemMessage/SystemMessage.php
  service-api/app/src/App/src/Service/SystemMessage/SystemMessageService.php
  service-api/app/test/AppTest/Service/SystemMessage/CachedSystemMessageDelegatorFactoryTest.php
  service-api/app/test/AppTest/Service/SystemMessage/CachedSystemMessageTest.php
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
  service-front/app/test/ViewerTest/Handler/EnterCodeHandlerTest.php
Labels: php

#2610 UML-3424: adjust metrics to allow scale down
  terraform/environment/region/modules/ecs_autoscaling/variables.tf
Labels: terraform

#2607 uml-3400-logged in redirects to dashboard
  service-front/app/features/actor-one-login.feature
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/src/Actor/src/Handler/AuthenticateOneLoginHandler.php
Labels: php

#2612 UML-3426: stop task desired count reset on deploy
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/viewer_ecs.tf
Labels: terraform

#2616 UML-3392: add lpa data secrets to terraform
  terraform/account/keys.tf
  terraform/account/secretsmanager.tf
Labels: terraform
