Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2024-06, with the labels that each got.

#2623 UML-3392-remove secrets from terraform
  terraform/account/keys.tf
  terraform/account/secretsmanager.tf
Labels: terraform

#2626 UML-3425: block matching requests
  terraform/account/region/waf.tf
Labels: terraform

#2627 Add explicit autoload to new secrets manager code.
  service-api/app/src/App/src/ConfigProvider.php
Labels: php

#2632 Uml 3439 enable opcache
  service-api/app/config/autoload/mezzio.global.php
  service-api/app/config/development.config.php.dist
  service-api/app/features/bootstrap/config.php
  service-api/app/features/bootstrap/container.acceptance.php
  service-api/docker/app/Dockerfile
  service-api/docker/app/app-php.development.ini
  service-api/docker/app/app-php.ini
  service-front/app/config/autoload/mezzio.global.php
  service-front/app/config/development.config.php.dist
  service-front/app/features/bootstrap/behat.config.php
  service-front/docker/app/Dockerfile
  service-front/docker/app/app-php-development.ini
  service-front/docker/app/app-php.ini
Labels: php, docker

#2639 UML-3403 upgrade braces
  service-front/web/package-lock.json
Labels: dependencies

#2642 UML-3403 upgrade braces
  service-admin/package-lock.json
Labels: dependencies

#2640 UML-3441: adjust ECS resources
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/viewer_ecs.tf
Labels: terraform

#2644 UML-3306 updated content on deleted account page
  service-front/app/features/actor-cookie-banner.feature
  service-front/app/features/actor-delete-account.feature
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/deleted-account-confirmation.html.twig
Labels: php, terraform

#2633 Uml 3314 content update on lpa failure page
  service-front/app/features/actor-add-an-lpa.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-not-found.html.twig
Labels: php, terraform

#2643 UML-3440 updated content on one login page.
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Labels: php, terraform

#2646 UML-3317 update where do you live content
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/request-activation-key/postcode.html.twig
Labels: php, terraform

#2645 Create support_datastore_lpas feature flag for Service-API to use
  docker-compose.yml
  service-api/app/config/autoload/features.global.php
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Labels: php, terraform, docker

#2641 Uml-3294 update activation key page content
  service-front/app/features/actor-add-lpa-triage.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Form/AddLpaTriage.php
  service-front/app/src/Actor/src/Handler/AddLpaTriageHandler.php
  service-front/app/src/Actor/templates/actor/add-lpa-triage.html.twig
  service-front/app/src/Common/src/Service/Log/EventCodes.php
Labels: php, terraform

#2657 update suggested by dependabot
  service-front/web/package-lock.json
Labels: dependencies

#2636 UML-3021: Settings page changes for GOV.UK One Login
  service-front/app/features/actor-your-details.feature
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
  service-front/app/src/Actor/templates/actor/settings.html.twig
  service-front/app/src/Common/src/View/Twig/GenericGlobalVariableExtension.php
  service-front/app/src/Common/src/View/Twig/GenericGlobalVariableExtensionFactory.php
  service-front/app/test/CommonTest/View/Twig/GenericGlobalVariableExtensionFactoryTest.php
  service-front/app/test/CommonTest/View/Twig/GenericGlobalVariableExtensionTest.php
Labels: php

#2661 UML-3393 refactor LpasInterface to pull out requestLetterInterface which won't apply to Modernise LPAs
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/ApiGateway/Lpas.php
  service-api/app/src/App/src/DataAccess/Repository/LpasInterface.php
  service-api/app/src/App/src/DataAccess/Repository/RequestLetterInterface.php
  service-api/app/src/App/src/Service/Lpa/AccessForAllLpaService.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
Labels: php

#2668 pin chrome version
  .github/workflows/_run-behat-tests.yml
  docker-compose.dependencies.yml
  tests/smoke/src/Drivers/ChromeDriver.php
Labels: php, docker, github-actions

#2669 UML-3456: destroy environments at start of PR
  .github/workflows/pull-request-path.yml
  .github/workflows/scheduled-workspace-cleanup.yml
Labels: github-actions

#2672 UML-3319 updated content on could not find lpa page
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/cannot-find-lpa.html.twig
Labels: php

#2674 UML-3318: back & cancel button for "check your answers" screen
  service-front/app/features/actor-check-your-answers.feature
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/src/Actor/src/Handler/RequestActivationKey/CheckYourAnswersHandler.php
  service-front/app/src/Actor/templates/actor/check-your-answers.html.twig
Labels: php

#2673 UML-3305 updated content when deleting account
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/confirm-delete-account.html.twig
Labels: php

#2678 Update golang version
  service-admin/Dockerfile
Labels: docker

#2675 UML-3333 updated page content on "is this the LPA you want to add"
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/check-lpa.html.twig
Labels: php
