Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2024-09, with the labels that each got.

#2759 Bump aws provider version
  terraform/account/.terraform.lock.hcl
  terraform/account/modules/dynamodb_cloudtrail/terraform.tf
  terraform/account/modules/multi_region_kms/terraform.tf
  terraform/account/region/modules/dns_firewall/terraform.tf
  terraform/account/region/modules/lambda_function/terraform.tf
  terraform/account/region/modules/s3_bucket/terraform.tf
  terraform/account/region/terraform.tf
  terraform/account/terraform.tf
  terraform/environment/.terraform.lock.hcl
  terraform/environment/modules/iam/terraform.tf
  terraform/environment/modules/lambda/terraform.tf
  terraform/environment/region/modules/dns/terraform.tf
  terraform/environment/region/modules/ecs_autoscaling/terraform.tf
  terraform/environment/region/terraform.tf
  terraform/environment/terraform.tf
Labels: terraform

#2761 bumping tf ver
  terraform/account/.terraform-version
  terraform/account/modules/dynamodb_cloudtrail/terraform.tf
  terraform/account/modules/multi_region_kms/terraform.tf
  terraform/account/region/modules/dns_firewall/terraform.tf
  terraform/account/region/modules/lambda_function/terraform.tf
  terraform/account/region/modules/s3_bucket/terraform.tf
  terraform/account/region/terraform.tf
  terraform/account/terraform.tf
  terraform/environment/.terraform-version
  terraform/environment/modules/iam/terraform.tf
  terraform/environment/modules/lambda/terraform.tf
  terraform/environment/region/modules/dns/terraform.tf
  terraform/environment/region/modules/ecs_autoscaling/terraform.tf
  terraform/environment/region/terraform.tf
  terraform/environment/terraform.tf
Labels: terraform

#2743 Allow migration of existing accounts to One Login accounts that change their email
  service-api/app/src/App/src/Service/Log/EventCodes.php
  service-api/app/src/App/src/Service/User/RecoverAccount.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  service-api/app/test/AppTest/Service/User/RecoverAccountTest.php
  service-api/app/test/AppTest/Service/User/ResolveOAuthUserTest.php
  terraform/environment/region/cloudwatch_metrics.tf
  terraform/environment/region/mock_onelogin_ecs.tf
Labels: php, terraform, service-api

#2760 Rebuild of the datastore mock as it was non-functional for our purposes.
  docker-compose.dependencies.yml
  mock-integrations/lpa-data-store/.gitignore
  mock-integrations/lpa-data-store/README.md
  mock-integrations/lpa-data-store/build.mjs
  mock-integrations/lpa-data-store/mock-config.yaml
  mock-integrations/lpa-data-store/mock-openapi-examples.yaml
  mock-integrations/lpa-data-store/mock-openapi.yaml
  mock-integrations/lpa-data-store/mock-openapi.yml
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/package-lock.json
  mock-integrations/lpa-data-store/package.json
  mock-integrations/lpa-data-store/src/index.mjs
  mock-integrations/lpa-data-store/src/lpas/4UX3.json
  mock-integrations/lpa-data-store/src/lpas/lpas.mjs
  mock-integrations/lpa-data-store/src/types/index.ts
  mock-integrations/lpa-data-store/update.sh
Labels: dependencies, javascript, docker

#2757 Add destroy on merge workflow
  .github/workflows/workflow_destroy_on_merge.yml
  scripts/pipeline/workspace_cleanup/destroy_workspace.sh
Labels: github-actions

#2695 UML-3394 Move to a feature flagged factory for lpa manager creation
  .github/workflows/psalm-static-analysis-api.yml
  .github/workflows/psalm-static-analysis-front.yml
  .github/workflows/pull-request-path.yml
  README.md
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/src/App/src/Service/ActorCodes/Validation/DynamoCodeValidationStrategy.php
  service-api/app/src/App/src/Service/Lpa/LpaManagerFactory.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Handler/LpaHandlerTest.php
  service-api/app/test/AppTest/Handler/LpaSearchHandlerTest.php
  service-api/app/test/AppTest/Service/ActorCodes/Validation/DynamoCodeValidationStrategyTest.php
  service-api/app/test/AppTest/Service/Lpa/CheckLpaCleansedTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaManagerFactoryTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
Labels: php, github-actions, service-api

#2764 Uml 3454 update secret value
  .github/workflows/workflow_destroy_on_merge.yml
Labels: terraform, github-actions

#2766 updated session missing error message
  service-front/app/src/Actor/src/Form/OneLoginForm.php
Labels: php, service-front

#2767 UML-3589: fix workspace deletion
  .github/workflows/workflow_destroy_on_merge.yml
  scripts/pipeline/workspace_cleanup/destroy_workspace.sh
Labels: github-actions

#2768 UML-3589: fix workspace destroy
  .github/workflows/workflow_destroy_on_merge.yml
Labels: github-actions

#2769 Utilise nginx to strip out the problematic SameSite cookie setting if the UserAgent is broken.
  service-front/docker/web/etc/confd/templates/nginx.conf
Labels: service-front

#2754 UML-3460 Return LPA store LPAs via the new endpoint in the new format
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/src/App/src/Entity/Casters/CastSingleDonor.php
  service-api/app/src/App/src/Entity/Casters/CastToCaseSubtype.php
  service-api/app/src/App/src/Entity/Casters/CastToLifeSustainingTreatment.php
  service-api/app/src/App/src/Entity/Casters/CastToWhenTheLpaCanBeUsed.php
  service-api/app/src/App/src/Entity/Casters/ExtractAddressLine1FromLpaStore.php
  service-api/app/src/App/src/Entity/Casters/ExtractCountryFromLpaStore.php
  service-api/app/src/App/src/Entity/Casters/ExtractTownFromLpaStore.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreDonor.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Enum/HowAttorneysMakeDecisions.php
  service-api/app/src/App/src/Enum/LifeSustainingTreatment.php
  service-api/app/src/App/src/Enum/LpaType.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CastSingleDonorTest.php
  service-api/app/test/AppTest/Entity/CastToCaseSubtypeTest.php
  service-api/app/test/AppTest/Entity/CastToLifeSustainingTreatmentTest.php
  service-api/app/test/AppTest/Entity/CastToWhenTheLpaCanBeUsedTest.php
  service-api/app/test/AppTest/Entity/ExtractAddressLine1FromLpaStoreTest.php
  service-api/app/test/AppTest/Entity/ExtractCountryFromLpaStoreTest.php
  service-api/app/test/AppTest/Entity/ExtractTownFromLpaStoreTest.php
  service-api/app/test/fixtures/4UX3.json
Labels: dependencies, php, service-api

#2774 Bump twig/twig from 3.10.3 to 3.14.0 in /service-front/app
  service-front/app/composer.lock
Labels: service-front

#2775 UML-3582
  docker-compose.yml
  service-api/seeding/dynamodb.py
  service-front/docker/web/etc/confd/templates/nginx.conf
Labels: docker, python, service-api, service-front

#2780 UML-3613: Update PDF service
  terraform/environment/terraform.tfvars.json
Labels: terraform

#2781 Uml 3248 trivy report
  .github/workflows/trivy_scan_alert_report.yml
  scripts/pipeline/generate_trivy_report/code_scan_report.py
  scripts/pipeline/generate_trivy_report/requirements.txt
Labels: dependencies, python, github-actions

#2777 Uml 3576 better service class usage
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/DataAccess/Repository/Response/Lpa.php
  service-api/app/src/App/src/DataAccess/Repository/Response/LpaInterface.php
  service-api/app/src/App/src/Service/ActorCodes/ActorCodeService.php
  service-api/app/src/App/src/Service/ActorCodes/Validation/CodesApiValidationStrategy.php
  service-api/app/src/App/src/Service/ActorCodes/Validation/DynamoCodeValidationStrategy.php
  service-api/app/src/App/src/Service/Lpa/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/IsValidLpa.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/ActorType.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/HasActorInterface.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/LpaActor.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/SiriusHasActorTrait.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/ActorCodes/ActorCodeServiceTest.php
  service-api/app/test/AppTest/Service/ActorCodes/Validation/CodesApiValidationStrategyTest.php
  service-api/app/test/AppTest/Service/ActorCodes/Validation/DynamoCodeValidationStrategyTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/ActorTypeTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/LpaActorTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/SiriusHasActorTraitTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActorTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaTest.php
Labels: php, service-api

#2770 Uml 3459 return sirius data via new endpoint in new format
  service-api/app/src/App/src/Entity/Sirius/Casters/CastSiriusDonor.php
  service-api/app/src/App/src/Entity/Sirius/Casters/CastToSiriusLifeSustainingTreatment.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractAddressLine1FromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractAddressLine2FromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractAddressLine3FromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractCountryFromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractCountyFromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractPostcodeFromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractTownFromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/ExtractTypeFromSiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/Casters/LinkedDonorCaster.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-api/app/src/App/src/Enum/LifeSustainingTreatment.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/test/AppTest/Entity/CanCastSiriusDonorTest.php
  service-api/app/test/AppTest/Entity/CanCastToSiriusLifeSustainingTreatmentTest.php
  service-api/app/test/AppTest/Entity/CanExtractAddressLine1FromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanExtractAddressLine2FromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanExtractAddressLine3FromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanExtractCountryFromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanExtractCountyFromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanExtractPostcodeFromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanExtractTownFromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanExtractTypeFromSiriusLpaTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToModerniseFormatTest.php
  service-api/app/test/fixtures/test_lpa.json
Labels: dependencies, php, service-api

#2797 Update trivy job
  .github/workflows/_build-and-push.yml
Labels: github-actions

#2776 UML-3599 rework IsValidLpa.php to use interface obj
  service-api/app/src/App/src/Service/Lpa/IsValid/IsValidInterface.php
  service-api/app/src/App/src/Service/Lpa/IsValid/LpaStatus.php
  service-api/app/src/App/src/Service/Lpa/IsValidLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
Labels: php, service-api

#2809 Add trivy db ecr mirror
  .github/workflows/_build-and-push.yml
Labels: github-actions

#2817 Add type coersion to SiriusPerson getters
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/Lpa/SiriusPersonTest.php
Labels: php, service-api

#2816 Uml 3470 As a member of the correspondence team I need to know I can respond to a customers query
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/change-details.html.twig
Labels: service-front

#2798 UML-3616: Create support_datastore_lpas feature flag (service-front)
  service-front/app/config/autoload/features.global.php
  service-front/app/features/bootstrap/behat.config.php
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/viewer_ecs.tf
Labels: php, terraform, service-front

#2778 UML-3600 rework GetAttorneyStatus
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Service/Lpa/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus/AttorneyStatus.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus/GetAttorneyStatusInterface.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/SiriusHasActorTrait.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/SiriusHasActorTraitTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaTest.php
Labels: php, service-api

#2814 UML-3606 moved access for all and add lpa services to subfolder
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Handler/AccessForAllLpaConfirmationHandler.php
  service-api/app/src/App/src/Handler/AccessForAllLpaValidationHandler.php
  service-api/app/src/App/src/Handler/AddLpaValidationHandler.php
  service-api/app/src/App/src/Handler/RequestCleanseHandler.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AccessForAllLpaService.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/AddLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/LpaAlreadyAdded.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAllLpaServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/AddLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
Labels: php, service-api
