Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2024-08, with the labels that each got.

#2732 Adding cloudwatch data protection policy
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Labels: terraform

#2727 UML-3511 combine twig files and handler functionality.
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Actor/src/Handler/LpaDashboardHandler.php
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Labels: php, service-front

#2734 ensure-smoke-tests-work-with-production-one-login
  .github/workflows/_run-behat-tests.yml
  terraform/environment/terraform.tfvars.json
  tests/smoke/.env
  tests/smoke/context/AccountContext.php
Labels: php, terraform, github-actions

#2739 Update Data Protection Policy with HTTPGetEmailAddress Identifier
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Labels: terraform

#2738 Ensure null bytes are not passed to bcrypt.
  service-api/app/src/App/src/Service/User/UserService.php
Labels: php, service-api

#2740 Updating data protection policy regex pattern
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Labels: terraform

#2741 Update regex query in data protection policy
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Labels: terraform

#2742 Uml 3251 revert dp policy
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Labels: terraform

#2725 UML-3344 Disable functionality to change email address via local OR Onelogin 48 hours before go live
  service-front/app/features/actor-change-email.feature
  service-front/app/features/actor-your-details.feature
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/settings.html.twig
Labels: php, terraform, service-api, service-front

#2737 UML-3509 Show if an email address has a gov.uk One login
  service-admin/README.md
  service-admin/internal/server/data/account.go
  service-admin/internal/server/data/account_test.go
  service-admin/web/templates/result_actor.partial.gohtml
Labels: go, service-admin

#2745 Catch missing session on one login return
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Form/OneLoginForm.php
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Actor/templates/actor/form-error-messages.html.twig
  service-front/app/src/Actor/templates/actor/one-login.html.twig
  service-front/app/src/Common/src/Service/Log/EventCodes.php
  terraform/environment/region/cloudwatch_metrics.tf
Labels: php, terraform, service-front

#2744 UML-3533: Increase task count for One Login GoLive
  terraform/environment/terraform.tfvars.json
Labels: terraform

#2746 UML-3535: add depends on to data protection policy
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Labels: terraform

#2736 UML-3527 Turn on One Login
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/one-login.html.twig
  terraform/environment/terraform.tfvars.json
Labels: terraform, service-front

#2747 Bump logging level to INFO (200).
  terraform/environment/terraform.tfvars.json
Labels: terraform

#2748 Logging changes
  service-api/app/src/App/src/Service/Notify/NotifyService.php
  service-front/app/src/Common/src/Middleware/Session/SessionAttributeAllowlistMiddleware.php
  service-front/app/src/Common/src/Service/Notify/NotifyService.php
Labels: php, service-api, service-front

#2750 UML-3533: Reduce task count back to normal
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
  terraform/environment/terraform.tfvars.json
Labels: terraform

#2749 Uml 3453 service name not displaying in Welsh
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/service-names.html.twig
  service-front/app/src/Viewer/templates/viewer/partials/service-names.html.twig
Labels: service-front

#2733 Uml 3393 Refactor LPAService to select appropriate strategy for fetching LPAs
  docker-compose.dependencies.yml
  service-api/app/config/autoload/envs.global.php
  service-api/app/features/bootstrap/config.pact.php
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpasFactory.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpasFactory.php
  service-api/app/src/App/src/DataAccess/Repository/LpasInterface.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasTest.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactLpasFactory.php
Labels: php, docker, service-api

#2752 Get a working datastore lpa schema going and update the example lpa to be valid. Ad…
  docker-compose.dependencies.yml
  mock-integrations/lpa-data-store/mock-config.yaml
  mock-integrations/lpa-data-store/mock-openapi-examples.yaml
  mock-integrations/lpa-data-store/mock-openapi.yaml
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/opg-data-lpa-data-store-openapi.yml
Labels: javascript, docker

#2753 Build confd as a part of the Dockerfiles so that we get ARCH specific versions
  service-api/docker/web/Dockerfile
  service-front/docker/web/Dockerfile
Labels: docker, service-api, service-front

#2751 Remove account creation routes under one login
  service-front/app/config/routes.php
  service-front/app/features/actor-privacy-notice.feature
  service-front/app/features/actor-terms-of-use.feature
  service-front/app/features/common-language.feature
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
Labels: php, service-front

#2755 Enable new one login mock functionality
  docker-compose.dependencies.yml
  service-api/docker/app/Dockerfile
  service-front/docker/app/Dockerfile
Labels: docker, service-api, service-front

#2756 update Go version to v1.23.0
  codecov.yml
  service-admin/Dockerfile
Labels: docker, service-admin
