Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2024-07, with the labels that each got.

#2680 Configure UR env in terraform
  terraform/environment/terraform.tfvars.json
Labels: terraform, docker

#2676 UML-3445: capture test step timing
  .github/workflows/_build-and-push.yml
  .github/workflows/pull-request-path.yml
  scripts/pipeline/output_step_timing/step_timing.py
Labels: docker, python, github-actions

#2635 Uml 3412 data format
  docs/architecture/decisions/0023-lpa-data-format.md
Labels: documentation

#2687 RecreateDP PR.
  scripts/pipeline/check_ecr_scan_results/requirements.txt
Labels: dependencies

#2689 Upstream One Login header changes
  service-front/web/package-lock.json
  service-front/web/package.json
  service-front/web/src/javascript/header.js
  service-front/web/src/javascript/vendor/service-header.js
Labels: dependencies, javascript

#2691 Rejig of the run configuration and associated files.
  .idea/opg-use-an-lpa.iml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/runConfigurations/API.xml
  .idea/runConfigurations/API_Acceptance.xml
  .idea/runConfigurations/API_Acceptance__Single_Scenario.xml
  .idea/runConfigurations/API_Integration.xml
  .idea/runConfigurations/All_tests.xml
  .idea/runConfigurations/Build.xml
  .idea/runConfigurations/Cleanup_Pact_Containers.xml
  .idea/runConfigurations/Down.xml
  .idea/runConfigurations/Extract_Translations.xml
  .idea/runConfigurations/Front.xml
  .idea/runConfigurations/Front_Integration.xml
  .idea/runConfigurations/Front_UI.xml
  .idea/runConfigurations/Front_UI__Single_Scenario.xml
  .idea/runConfigurations/Smoke.xml
  .idea/runConfigurations/Up.xml
  Makefile
  docker-compose.yml
  service-api/app/composer.json
  service-front/app/composer.json
  tests/smoke/docker-compose.smoke.yml
Labels: dependencies, docker

#2693 UML-3471: disable public access
  terraform/environment/terraform.tfvars.json
Labels: terraform

#2696 UML-3486 fix customer services email address
  service-front/app/src/Actor/templates/actor/lpa-not-found.html.twig
Labels: python

#2690 UML-3431 Implement v2 LPAs endpoint (back-end)
  service-api/app/config/routes.php
  service-api/app/src/App/src/Handler/LpasCollectionV2Handler.php
Labels: php

#2697 UML-3186 documented database documents using psalm
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ActorCodesInterface.php
  service-api/app/src/App/src/DataAccess/Repository/UserLpaActorMapInterface.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodeActivityInterface.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
Labels: php

#2681 Uml 3324 remove email from url parameters
  service-front/app/src/Actor/src/Handler/CreateAccountHandler.php
  service-front/app/src/Actor/src/Handler/CreateAccountSuccessHandler.php
  service-front/app/src/Actor/src/Handler/LoginPageHandler.php
Labels: php

#2702 uml-3286 Ensure same version of PDF service is deployed through pipeline
  docker-compose.dependencies.yml
  terraform/environment/terraform.tfvars.json
Labels: terraform, docker

#2701 Uml 3485 get smoke tests working on ur
  .github/labeler.yml
  .github/workflows/_run-behat-tests.yml
  tests/smoke/.env
  tests/smoke/behat.yml
  tests/smoke/composer.json
  tests/smoke/composer.lock
  tests/smoke/context/AccountContext.php
  tests/smoke/context/OneLoginImplementation.php
  tests/smoke/docker-compose.smoke.yml
Labels: dependencies, php, docker, github-actions

#2686 Uml 3240 working phpunit integration tests
  .github/workflows/_build-and-push.yml
  .idea/php-test-framework.xml
  .idea/php.xml
  .idea/phpunit.xml
  .idea/runConfigurations/API.xml
  .idea/runConfigurations/API_Functional.xml
  docker-compose.testing.yml
  service-api/app/composer.json
  service-api/app/phpunit.xml.dist
  service-api/app/src/App/src/Service/Container/ModifiableContainerInterface.php
  service-api/app/src/App/src/Service/Container/PhpDiModifiableContainer.php
  service-api/app/test/FunctionalTest/AbstractFunctionalTestCase.php
  service-api/app/test/FunctionalTest/DataAccess/ApiGateway/ActorCodesTest.php
  service-api/app/test/pacts/.gitkeep
  service-front/app/phpunit.xml.dist
Labels: dependencies, php, docker, github-actions, service-api, service-front

#2705 UML-3498: increase scaling temporarily
  terraform/environment/terraform.tfvars.json
Labels: terraform

#2685 UML-3304 Inform users we are changing the way they log in
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Handler/LoginNotificationHandler.php
  service-front/app/src/Actor/templates/actor/login-notification.html.twig
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Labels: php, service-front

#2703 Add one login contact details to new sign in page
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Labels: service-front

#2708 Put forced password reset middleware behind One Login flag
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Middleware/Authentication/AuthenticationMiddleware.php
  service-front/app/src/Common/src/Middleware/Authentication/AuthenticationMiddlewareFactory.php
  service-front/app/test/CommonTest/Middleware/Authentication/AuthenticationMiddlewareTest.php
Labels: php, service-front

#2711 Uml 3301 content epa as cant use the service
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/templates/viewer/enter-code.html.twig
Labels: service-front

#2715 UML-3498: reduce scaling
  terraform/environment/terraform.tfvars.json
Labels: terraform

#2706 UML-2223 Removed Feature Flag dont_send_lpas_registered_after_sep_2019_to_cleansing_team
  docker-compose.yml
  service-api/app/config/autoload/features.global.php
  service-api/app/features/actor-add-an-older-lpa.feature
  service-api/app/src/App/src/Service/Lpa/AddAccessForAllLpa.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-front/app/config/autoload/features.global.php
  service-front/app/features/actor-add-an-older-lpa.feature
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/src/Actor/templates/actor/cannot-find-lpa.html.twig
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Labels: php, terraform, docker, service-api, service-front

#2707 UML-3209 provide ability to email all users
  docs/runbooks/cloud9/README.md
  scripts/bulk_email/README.md
  scripts/bulk_email/get_emails.py
  scripts/bulk_email/send_via_notify.py
Labels: python, documentation

#2716 UML-3340 Your details page - content change to 'Find out about the role of attorney ...'
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Labels: service-front

#2719 Samesite cookie fix for OIDC (being logged out on dashboard)
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Common/src/Service/Session/EncryptedCookiePersistence.php
  service-front/app/test/CommonTest/Service/Session/EncryptedCookiePersistenceTest.php
Labels: php, service-front

#2720 Uml 3340 content change to dashboard
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
Labels: service-front

#2717 uml-3409 Edits to 'Your access code page' page
  .idea/php.xml
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
Labels: php, terraform, docker, python, documentation, service-api, service-front

#2714 Uml 3483 sign into service content
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Labels: service-front

#2723 UML-3513: Create PagerDuty Alarm for One Login Outage
  terraform/environment/region/cloudwatch_alarms.tf
Labels: terraform

#2718 UML-3490: create metrics dashboard
  .pre-commit-config.yaml
  terraform/environment/region.tf
  terraform/environment/region/cloudwatch_dashboard.tf
  terraform/environment/region/cloudwatch_metrics.tf
  terraform/environment/region/modules/dns/outputs.tf
  terraform/environment/region/templates/cw_dashboard_onelogin.tftpl
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Labels: php, terraform, service-front

#2724 UML-3510 Set System Message in Admin
  service-admin/internal/server/data/ssm_connection.go
  service-admin/internal/server/data/ssm_connection_test.go
  service-admin/internal/server/data/system_message.go
  service-admin/internal/server/data/system_message_test.go
  service-admin/internal/server/handlers/systemmessage.go
  service-admin/internal/server/handlers/systemmessage_test.go
Labels: go, service-admin

#2730 Ensure smoke tests work with production one login
  tests/smoke/context/AccountContext.php
  tests/smoke/context/OneLoginImplementation.php
Labels: php
