Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2024-10, with the labels that each got.

#2835 UML-3660: rollback terraform-version
  .github/workflows/workflow_destroy_on_merge.yml
Labels: github-actions

#2836 UML-3661: fix wonky logic
  .github/workflows/pull-request-path.yml
Labels: github-actions

#2839 Fix a couple of things local dev issues
  Makefile
  docker-compose.dependencies.yml
Labels: docker

#2840 UML-3626 json serialiser
  docker-compose.yml
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToModerniseFormatTest.php
Labels: php, docker, service-api

#2846 UML-3665: upgrade terraform-version
  .github/workflows/workflow_destroy_on_merge.yml
Labels: github-actions

#2826 UML-3619 Convert incoming LPAs to combined format (repository layer)
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpasFactory.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreDonor.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/SiriusHasActorTrait.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasFactoryTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/SiriusLpasTest.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedSiriusLpaTest.php
  service-api/app/test/BehatTest/DataAccess/ApiGateway/PactLpasFactory.php
Labels: php, docker, service-api

#2851 UML-3621 rework attorney status
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus/GetAttorneyStatusInterface.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
Labels: php, service-api

#2856 Update workflow
  .github/workflows/_build-and-push.yml
Labels: github-actions

#2854 UML-3622 rework trust corporations
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus/TrustCorporationStatusInterface.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
Labels: php, service-api

#2852 UML-3623 Reworkk IsValidLpa.php to accept new entity/siriuslpa
  service-api/app/src/App/src/Service/Lpa/IsValidLpa.php
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
Labels: php, service-api

#2866 Uml 3620 rework resolve actor
  service-api/app/src/App/src/Service/Lpa/ResolveActor/SiriusHasActorTrait.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
Labels: php, service-api

#2872 Update code scan report script
  scripts/pipeline/generate_trivy_report/code_scan_report.py
Labels: python

#2874 Add java db to trivy job
  .github/workflows/_build-and-push.yml
Labels: github-actions

#2868 Uml 3551- Transform consolidated lpa format frontend
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/src/Common/src/Entity/Casters/CastSingleDonor.php
  service-front/app/src/Common/src/Entity/Casters/CastSiriusDonor.php
  service-front/app/src/Common/src/Entity/Casters/CastToCaseSubtype.php
  service-front/app/src/Common/src/Entity/Casters/CastToLifeSustainingTreatment.php
  service-front/app/src/Common/src/Entity/Casters/CastToSiriusLifeSustainingTreatment.php
  service-front/app/src/Common/src/Entity/Casters/CastToWhenTheLpaCanBeUsed.php
  service-front/app/src/Common/src/Entity/Casters/ExtractAddressLine1FromLpaStore.php
  service-front/app/src/Common/src/Entity/Casters/ExtractAddressLine1FromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractAddressLine2FromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractAddressLine3FromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractCountryFromLpaStore.php
  service-front/app/src/Common/src/Entity/Casters/ExtractCountryFromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractCountyFromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractPostcodeFromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractTownFromLpaStore.php
  service-front/app/src/Common/src/Entity/Casters/ExtractTownFromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/ExtractTypeFromSiriusLpa.php
  service-front/app/src/Common/src/Entity/Casters/LinkedDonorCaster.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStore.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreAttorney.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreDonor.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpa.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaAttorney.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaDonor.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-front/app/src/Common/src/Enum/HowAttorneysMakeDecisions.php
  service-front/app/src/Common/src/Enum/LifeSustainingTreatment.php
  service-front/app/src/Common/src/Enum/LpaType.php
  service-front/app/src/Common/src/Service/Lpa/Factory/LpaDataFormatter.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/test/CommonTest/Entity/Casters/CanCastSiriusDonorTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanCastToSiriusLifeSustainingTreatmentTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractAddressLine1FromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractAddressLine2FromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractAddressLine3FromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractCountryFromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractCountyFromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractPostcodeFromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractTownFromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CanExtractTypeFromSiriusLpaTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastSingleDonorTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToCaseSubtypeTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToLifeSustainingTreatmentTest.php
  service-front/app/test/CommonTest/Entity/Casters/CastToWhenTheLpaCanBeUsedTest.php
  service-front/app/test/CommonTest/Entity/Casters/ExtractAddressLine1FromLpaStoreTest.php
  service-front/app/test/CommonTest/Entity/Casters/ExtractCountryFromLpaStoreTest.php
  service-front/app/test/CommonTest/Entity/Casters/ExtractTownFromLpaStoreTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
  service-front/app/test/fixtures/4UX3.json
  service-front/app/test/fixtures/test_lpa.json
Labels: dependencies, php, service-api, service-front

#2867 Update code scan script
  scripts/pipeline/generate_trivy_report/code_scan_report.py
Labels: python

#2882 UML-3686
  .github/workflows/pull-request-path.yml
  .github/workflows/workflow_destroy_on_merge.yml
Labels: github-actions

#2884 Configure app insights for dev
  terraform/environment/region.tf
  terraform/environment/region/application_insights.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/pagerduty.tf
  terraform/environment/region/resource_group.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Labels: terraform

#2885 Enable app insights on demo
  terraform/environment/terraform.tfvars.json
Labels: terraform

#2886 Enable app insights in preprod
  terraform/environment/terraform.tfvars.json
Labels: terraform

#2888 UML-3694: add ratelimit by ip rule
  terraform/account/region/waf.tf
Labels: terraform

#2889 Enable app insights in prod
  terraform/environment/terraform.tfvars.json
Labels: terraform

#2890 App inisights demo false
  terraform/environment/terraform.tfvars.json
Labels: terraform

#2893 UML-3699: update PR workflow docs only path
  .github/workflows/pull-request-path.yml
Labels: github-actions

#2895 Update resource group name
  terraform/account/region/application_insights.tf
  terraform/account/region/resource_group.tf
Labels: terraform

#2896 App insights account prod
  terraform/account/terraform.tfvars.json
Labels: terraform

#2897 App insights env dev demo
  terraform/environment/terraform.tfvars.json
Labels: terraform

#2898 Add account wide policy
  terraform/environment/region/cloudwatch_data_protection_policy.tf
Labels: terraform

#2899 UML-3701: allow mock one login in preprod
  terraform/environment/terraform.tfvars.json
Labels: terraform
