Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2024-12, with the labels that each got.

#2967 UML-3722: create event bus
  terraform/environment/region.tf
  terraform/environment/region/event_bus.tf
  terraform/environment/region/modules/event_bus/main.tf
  terraform/environment/region/modules/event_bus/terraform.tf
  terraform/environment/region/modules/event_bus/variables.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Labels: terraform

#2904 UML-3570 refactor templates to work with combined format summary
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Service/ActorCodes/ActorCodeService.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
  service-front/app/composer.json
  service-front/app/features/actor-view-lpa.feature
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/BaseUiContextTrait.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Actor/src/Handler/CheckAccessCodesHandler.php
  service-front/app/src/Actor/src/Handler/CreateViewerCodeHandler.php
  service-front/app/src/Actor/src/Handler/ViewLpaSummaryHandler.php
  service-front/app/src/Actor/templates/actor/check-access-codes-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary-combined-lpa.html.twig
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreAttorney.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreDonor.php
  service-front/app/src/Common/src/Entity/LpaStore/LpaStoreTrustCorporations.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Entity/Sirius/SiriusLpaTrustCorporations.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/src/Common/templates/partials/full-lpa-display-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-attorney-details-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-attorney-details.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-donor-details-combined-lpa.html.twig
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanHydrateLpaStoreToCombinedFormatTest.php
  service-front/app/test/CommonTest/Entity/PersonTest.php
  service-front/app/test/CommonTest/Entity/Sirius/CanHydrateSiriusToCombinedFormatTest.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
  service-front/app/test/fixtures/combined_lpa.json
Labels: dependencies, php, docker, service-api, service-front

#2961 UML-3676 new content about IaP
  service-front/app/README.md
  service-front/app/features/actor-dashboard.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/instructions-preferences.html.twig
  service-front/app/src/Actor/templates/actor/lpa-blank-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-dashboard.html.twig
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-warning-message.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
Labels: php, service-front

#2979 Add ingestion lambda
  terraform/account/region.tf
  terraform/account/region/lambda_functions.tf
  terraform/account/region/variables.tf
  terraform/account/terraform.tfvars.json
  terraform/account/variables.tf
Labels: terraform

#2983 Update lambda policy
  terraform/account/region/modules/lambda_function/iam.tf
Labels: terraform

#2993 Update pull_request_template.md
  docs/pull_request_template.md
Labels: documentation

#2994 UML-3727: rename and Lambda RIE
  .github/workflows/_build-and-push.yml
  docker-compose.yml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
  terraform/account/region.tf
  terraform/account/region/lambda_functions.tf
  terraform/account/region/variables.tf
  terraform/account/terraform.tfvars.json
  terraform/account/variables.tf
Labels: dependencies, terraform, docker, go, github-actions

#2987 UML-3753 tech debt - remove no longer needed IaP flag
  docker-compose.yml
  service-api/app/config/autoload/features.global.php
  service-api/app/features/actor-view-lpa.feature
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/features/view-lpa-using-sharecode.feature
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-front/app/config/autoload/features.global.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/context/Integration/ViewerContext.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/pdf-download-of-lpa.feature
  service-front/app/features/view-lpa-using-sharecode-with-instructions-and-preferences.feature
  service-front/app/src/Actor/src/Handler/ViewLpaSummaryHandler.php
  service-front/app/src/Actor/templates/actor/check-access-codes-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/check-access-codes.html.twig
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/lpa-create-viewercode.html.twig
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode.html.twig
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/view-lpa-summary.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/full-lpa-display.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details.html.twig
  service-front/app/src/Viewer/src/Handler/DownloadLpaHandler.php
  service-front/app/src/Viewer/src/Handler/ViewLpaHandler.php
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Labels: php, terraform, docker, service-api, service-front

#3000 fix typo and bump pdf service
  docker-compose.dependencies.yml
  docker-compose.yml
Labels: docker

#2998 UML-3762: ensure end of workflow runs
  .github/workflows/path-to-live.yml
Labels: github-actions

#3003 Uml 3723 golang lambda to run in localstack
  docker-compose.yml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/README.md
  lambda-functions/event-receiver/app/main.go
  lambda-functions/upload-statistics/README.md
Labels: docker, go

#3004 UML-3762: ensure end of workflow runs
  .github/workflows/path-to-live.yml
Labels: github-actions

#3005 UML-3767
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/README.md
  terraform/account/region.tf
  terraform/account/region/lambda_functions.tf
  terraform/account/region/variables.tf
  terraform/account/variables.tf
  terraform/environment/lambda.tf
  terraform/environment/shared_data_sources.tf
Labels: terraform, docker

#3008 UML-3605 content change
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/change-lpa-details.html.twig
Labels: service-front

#3013 Add debug logging of the usage of array access methods so that we can…
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/DataAccess/ApiGateway/SiriusLpas.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/ActorCodes/ActorCodeServiceTest.php
  service-api/app/test/AppTest/Service/ActorCodes/Validation/CodesApiValidationStrategyTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/CheckLpaCleansedTest.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/IsValidLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/SiriusHasActorTraitTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaManagerTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusPersonTest.php
Labels: php, service-api

#3020 Adding instruction to service admin
  service-admin/README.md
Labels: service-admin

#3019 Update go container
  lambda-functions/event-receiver/Dockerfile
  service-admin/Dockerfile
  service-admin/go.mod
  service-admin/go.sum
Labels: dependencies, docker, service-admin

#3021 Update workflow
  .github/workflows/path-to-live.yml
Labels: github-actions

#3022 UML-3547 introduced new feature flag - "paper_verification" with a de…
  docker-compose.yml
  service-front/app/config/autoload/features.global.php
  service-front/app/features/bootstrap/behat.config.php
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Labels: php, terraform, docker, service-front
