Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2024-03, with the labels that each got.

#2538 UML-1911 Allow LB to write access logs
  terraform/account/region/s3_lb_access_logs.tf
Labels: terraform

#2527 UML 3292 Update name of tab Your details
  service-api/app/features/actor-delete-account.feature
  service-api/app/features/context/Acceptance/AccountContext.php
  service-api/app/features/context/Integration/AccountContext.php
  service-front/app/config/routes.php
  service-front/app/features/actor-back-navigation.feature
  service-front/app/features/actor-delete-account.feature
  service-front/app/features/actor-triage.feature
  service-front/app/features/actor-your-details.feature
  service-front/app/features/context/Integration/AccountContext.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/src/Handler/SettingsHandler.php
  service-front/app/src/Actor/templates/actor/change-details.html.twig
  service-front/app/src/Actor/templates/actor/change-email.html.twig
  service-front/app/src/Actor/templates/actor/confirm-delete-account.html.twig
  service-front/app/src/Actor/templates/actor/password-change.html.twig
  service-front/app/src/Actor/templates/actor/settings.html.twig
  service-front/app/src/Common/templates/partials/account-bar.html.twig
Labels: php

#2535 UML-3271 Password reset form need to 410
  service-front/app/config/pipeline.php
  service-front/app/config/routes.php
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Middleware/ErrorHandling/GoneHandler.php
  service-front/app/src/Common/src/Middleware/ErrorHandling/GoneHandlerFactory.php
  service-front/app/src/Common/templates/error/410.html.twig
  service-front/app/test/CommonTest/Middleware/ErrorHandling/GoneHandlerFactoryTest.php
  service-front/app/test/CommonTest/Middleware/ErrorHandling/GoneHandlerTest.php
Labels: php

#2520 UML 3015 Amend service-api one-login code to handle users
  .idea/php.xml
  service-api/app/features/context/Acceptance/OidcContext.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ActorUsers.php
  service-api/app/src/App/src/DataAccess/Repository/ActorUsersInterface.php
  service-api/app/src/App/src/Exception/DateTimeException.php
  service-api/app/src/App/src/Exception/RandomException.php
  service-api/app/src/App/src/Service/Authentication/OneLoginService.php
  service-api/app/src/App/src/Service/Authentication/UserInfoService.php
  service-api/app/src/App/src/Service/Authentication/UserInfoServiceFactory.php
  service-api/app/src/App/src/Service/RandomByteGenerator.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  service-api/app/src/App/src/Service/User/UserService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ActorUsersTest.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginServiceTest.php
  service-api/app/test/AppTest/Service/RandomByteGeneratorTest.php
  service-api/app/test/AppTest/Service/User/ResolveOAuthUserTest.php
  service-api/app/test/AppTest/Service/User/UserServiceTest.php
  service-front/app/src/Actor/templates/actor/one-login.html.twig
Labels: php

#2541 UML-3015 Add event codes for tracking one login creation/migration events
  service-api/app/src/App/src/Service/Log/EventCodes.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  terraform/environment/region/cloudwatch_metrics.tf
Labels: php, terraform

#2540 UML-3015 Remove identity verification code and tests
  service-api/app/features/context/Acceptance/OidcContext.php
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Service/Authentication/KeyPairManager/OneLoginUserInfoKeyPairManager.php
  service-api/app/src/App/src/Service/Authentication/OneLoginService.php
  service-api/app/src/App/src/Service/Authentication/Token/OutOfBandCoreIdentityVerifier.php
  service-api/app/src/App/src/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilder.php
  service-api/app/src/App/src/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilderFactory.php
  service-api/app/src/App/src/Service/Authentication/UserInfoService.php
  service-api/app/src/App/src/Service/Authentication/UserInfoServiceFactory.php
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  service-api/app/test/AppTest/Service/Authentication/KeyPairManager/KeyPairManagerTest.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginServiceTest.php
  service-api/app/test/AppTest/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilderFactoryTest.php
  service-api/app/test/AppTest/Service/Authentication/Token/OutOfBandCoreIdentityVerifierBuilderTest.php
  service-api/app/test/AppTest/Service/Authentication/Token/OutOfBandCoreIdentityVerifierTest.php
Labels: php

#2542 UML-1959 Create Cloudwatch dashboard in Terraform
  terraform/environment/region.tf
  terraform/environment/region/cloudwatch_dashboard.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/templates/cw_dashboard_watching.tftpl
  terraform/environment/region/terraform.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/use_load_balancer.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Labels: terraform

#2547 Update opg-github-actions with new options
  .github/workflows/path-to-live.yml
Labels: github-actions

#2551 Revert download and upload-artifact version upgrade
  .github/workflows/_build-and-push.yml
  .github/workflows/_codecov.yml
  .github/workflows/_node-build.yml
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_run-terraform.yml
  .github/workflows/_seed-database.yml
  .github/workflows/_slack-notification.yml
  .github/workflows/path-to-live.yml
Labels: github-actions

#2561 Uml 3302 setup client id part1
  docker-compose.dependencies.yml
  mock-integrations/secrets-manager/localstack_init.sh
  mock-integrations/secrets-manager/onelogin_mock_public_key.pem
  terraform/account/secretsmanager.tf
Labels: terraform, docker

#2543 Uml 3302 - Create and expose new one login client id secret
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/ecs_cluster.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Labels: terraform, docker

#2562 UML-3092: Use max CPU rather than average for autoscaling
  terraform/environment/region/modules/ecs_autoscaling/main.tf
Labels: terraform

#2563 UML-3249 Use AWS image for Lambda function
  .github/workflows/_build-and-push.yml
  docker-compose.yml
  lambda-functions/upload-statistics/Dockerfile
  lambda-functions/upload-statistics/README.md
  lambda-functions/upload-statistics/app/test_upload_statistics.py
  lambda-functions/upload-statistics/app/upload_statistics.py
  lambda-functions/upload-statistics/requirements-tests.txt
  lambda-functions/upload-statistics/requirements.txt
Labels: dependencies, docker, python, github-actions

#2564 UML-3359 Add default value for gov_uk_onelogin_client_id
  terraform/account/secretsmanager.tf
Labels: terraform
