Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2024-02, with the labels that each got.

#2522 UML-3287 Add Label Pull Requests workflow
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: github-actions

#2452 Uml 2978 Add System Message feature to Admin portal
  docker-compose.dependencies.yml
  service-admin/.idea/runConfigurations/Admin_Service.xml
  service-admin/cmd/admin/main.go
  service-admin/internal/server/data/parameter_store.go
  service-admin/internal/server/data/parameter_store_test.go
  service-admin/internal/server/data/ssm_connection.go
  service-admin/internal/server/data/ssm_connection_test.go
  service-admin/internal/server/data/system_message.go
  service-admin/internal/server/data/system_message_test.go
  service-admin/internal/server/handlers/handler_test.go
  service-admin/internal/server/handlers/search_test.go
  service-admin/internal/server/handlers/systemmessage.go
  service-admin/internal/server/handlers/systemmessage_test.go
  service-admin/internal/server/server.go
  service-admin/internal/server/server_test.go
  service-admin/web/templates/header.partial.gohtml
  service-admin/web/templates/systemmessage.page.gohtml
  terraform/environment/parameter_store.tf
  terraform/environment/region/admin_ecs.tf
Labels: terraform, docker, go

#2524 Redirect /login to /home
  service-front/app/config/routes.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
  service-front/app/src/Common/src/Middleware/Routing/ConditionalRoutingMiddleware.php
  service-front/app/test/CommonTest/Middleware/Routing/ConditionalRoutingMiddlewareTest.php
Labels: php

#2526 UML-3221 Export PHP-FPM stats for service-api
  service-api/docker/app/fpm-pool.ini
  terraform/environment/region/api_ecs.tf
Labels: terraform

#2528 UML-2547 Enable account eu-west-2 resources in preproduction
  terraform/account/terraform.tfvars.json
Labels: terraform

#2523 upgrade to 3.15 of govuk-frontend
  service-front/app/src/Common/templates/layout/default.html.twig
  service-front/web/package-lock.json
  service-front/web/package.json
Labels: dependencies, docker

#2530 UML-2547 Fix attempt to create DNS records in secondary region
  terraform/environment/region/modules/dns/main.tf
Labels: terraform

#2531 UML-2547 Fix Web ACL in secondary region
  terraform/environment/region/waf.tf
Labels: terraform

#2532 UML-2547 Make eu-west-2 active for preproduction
  terraform/environment/terraform.tfvars.json
Labels: terraform

#2533 UML-2457 Run pilot light compute in eu-west-2
  terraform/environment/terraform.tfvars.json
Labels: terraform

#2534 UML-972 Rename Terraform resources from Actor to Use
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_seed-database.yml
  .github/workflows/path-to-live.yml
  scripts/pipeline/set_environment_variables/set_slack_message_values.sh
  terraform/environment/backup_plan.tf
  terraform/environment/config_file.tf
  terraform/environment/dynamodb.tf
  terraform/environment/modules/iam/iam_ecs_task_roles.tf
  terraform/environment/modules/iam/outputs.tf
  terraform/environment/refactor.tf
  terraform/environment/refactor_actor.tf
  terraform/environment/region.tf
  terraform/environment/region/actor_ecs.tf
  terraform/environment/region/actor_load_balancer.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/autoscaling.tf
  terraform/environment/region/cloudwatch_alarms.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/viewer_load_balancer.tf
  terraform/environment/region/waf.tf
Labels: terraform, github-actions

#2536 UML-3312 Fixing Terraform linting issues
  terraform/account/locals.tf
  terraform/account/variables.tf
  terraform/environment/locals.tf
  terraform/environment/outputs.tf
  terraform/environment/variables.tf
Labels: terraform
