Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2024-04, with the labels that each got.

#2513 UML-2547 Deploy environment level regional resources into second region
  docs/runbooks/use_secondary_region.md
Labels: documentation

#2565 Uml 3016 Frontend logout using one login
  service-front/app/features/actor-logout.feature
  service-front/app/features/actor-one-login.feature
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/one-login.feature
  service-front/app/src/Actor/src/ConfigProvider.php
  service-front/app/src/Actor/src/Handler/Factory/LogoutPageHandlerFactory.php
  service-front/app/src/Actor/src/Handler/LogoutPageHandler.php
  service-front/app/src/Actor/src/Handler/OneLoginCallbackHandler.php
  service-front/app/src/Common/src/Entity/User.php
  service-front/app/src/Common/src/Service/ApiClient/Client.php
  service-front/app/src/Common/src/Service/Authentication/LocalAccountLogout.php
  service-front/app/src/Common/src/Service/Authentication/LogoutStrategy.php
  service-front/app/src/Common/src/Service/OneLogin/OneLoginService.php
  service-front/app/test/ActorTest/Handler/Factory/LogoutPageHandlerFactoryTest.php
  service-front/app/test/CommonTest/Entity/UserTest.php
  service-front/app/test/CommonTest/Service/Authentication/LocalAccountLogoutTest.php
  service-front/app/test/CommonTest/Service/OneLogin/OneLoginServiceTest.php
Labels: php

#2571 Uml 3016 service api onelogin logout endpoint
  .idea/php.xml
  Makefile
  docker-compose.dependencies.yml
  service-api/app/composer.lock
  service-api/app/config/routes.php
  service-api/app/features/actor-logout.feature
  service-api/app/features/actor-one-login.feature
  service-api/app/features/context/Acceptance/OidcContext.php
  service-api/app/features/context/BaseAcceptanceContextTrait.php
  service-api/app/src/App/src/Handler/OneLoginAuthenticationLogoutHandler.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationClientManager.php
  service-api/app/src/App/src/Service/Authentication/AuthorisationService.php
  service-api/app/src/App/src/Service/Authentication/OneLoginService.php
  service-api/app/src/App/src/Service/Cache/CacheFactory.php
  service-api/app/test/AppTest/Service/Authentication/OneLoginServiceTest.php
Labels: php, docker

#2555 UML-3028 Service layer within service-api to talk to AWS parameter store
  docker-compose.yml
  service-api/app/config/autoload/envs.global.php
  service-api/app/config/routes.php
  service-api/app/features/context/Acceptance/AccountContext.php
  service-api/app/features/system-message.feature
  service-api/app/src/App/src/ConfigProvider.php
  service-api/app/src/App/src/Handler/SystemMessageHandler.php
  service-api/app/src/App/src/Service/Aws/SSMClientFactory.php
  service-api/app/src/App/src/Service/SystemMessage/SystemMessage.php
  service-api/app/src/App/src/Service/SystemMessage/SystemMessageFactory.php
  service-api/app/test/AppTest/Handler/SystemMessageHandlerTest.php
  service-api/app/test/AppTest/Service/Aws/SSMClientFactoryTest.php
  service-api/app/test/AppTest/Service/SystemMessage/SystemMessageFactoryTest.php
  service-api/app/test/AppTest/Service/SystemMessage/SystemMessageTest.php
  terraform/environment/region/api_ecs.tf
Labels: php, terraform, docker

#2576 Use a unique artifact name in pipeline for cluster config
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_run-terraform.yml
  .github/workflows/_seed-database.yml
  .github/workflows/_slack-notification.yml
  .github/workflows/path-to-live.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/scheduled-update-demo.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
Labels: github-actions
