Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2024-11, with the labels that each got.

#2900 returning mocked combined lpa data for the frontend
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
  service-front/app/test/CommonTest/Service/Lpa/ParseLpaDataTest.php
Labels: php, service-front

#2902 Uml 3692 & UML 3691 grouplpa and sortlpa refactored to handle new format
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Person.php
  service-front/app/src/Common/src/Service/Lpa/Factory/LpaDataFormatter.php
  service-front/app/src/Common/src/Service/Lpa/GroupLpas.php
  service-front/app/src/Common/src/Service/Lpa/ServiceInterfaces/GroupLpasInterface.php
  service-front/app/src/Common/src/Service/Lpa/ServiceInterfaces/SortLpasInterface.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/LpaStore/CanSerialiseSiriusToModerniseFormatTest.php
  service-front/app/test/CommonTest/Entity/PersonTest.php
  service-front/app/test/CommonTest/Entity/Sirius/SiriusLpaTest.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Labels: php, service-api, service-front

#2912 Bump symfony/http-foundation from 5.4.40 to 5.4.46 in /service-api/app
  service-api/app/composer.lock
Labels: service-api

#2911 Bump symfony/process from 6.4.12 to 6.4.14 in /service-front/app
  service-front/app/composer.lock
Labels: service-front

#2917 Update path to live workflow
  .github/workflows/path-to-live.yml
Labels: github-actions

#2920 Revert "Remove conditional if"
  .github/workflows/path-to-live.yml
Labels: github-actions

#2921 move checkout action
  .github/workflows/path-to-live.yml
Labels: github-actions

#2928 update container version
  terraform/environment/region.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Labels: terraform

#2925 Add modern clipboard API copy. Adjust tests.
  service-front/web/src/index.js
  service-front/web/src/javascript/copyAccessCode.js
  service-front/web/src/javascript/copyAccessCode.test.js
  service-front/web/src/javascript/header.js
Labels: javascript, service-front

#2815 EventsaucePHP Object Hydrator ADR
  docs/architecture/decisions/0024-library-for-lpa-data-mapping.md
Labels: documentation

#2937 Update libarchive
  lambda-functions/upload-statistics/Dockerfile
Labels: docker

#2938 bump micromatch
  service-front/web/package-lock.json
Labels: dependencies, service-front

#2942 UML-3694: enforce rate limit rule
  terraform/account/region/waf.tf
Labels: terraform

#2947 Add no cache to lambda image
  .github/workflows/_build-and-push.yml
Labels: github-actions

#2878 UML-3671 rework find actor lpa
  .idea/opg-use-an-lpa.iml
  .idea/phpunit.xml
  .idea/runConfigurations/API_Integration__Single_Scenario.xml
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreAttorney.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreDonor.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStoreTrustCorporation.php
  service-api/app/src/App/src/Entity/Person.php
  service-api/app/src/App/src/Entity/Sirius/Casters/LinkedDonorCaster.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaAttorney.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaTrustCorporation.php
  service-api/app/src/App/src/Exception/InvalidActorTypeException.php
  service-api/app/src/App/src/Exception/RequiredOverrideException.php
  service-api/app/src/App/src/Handler/AccessForAllLpaConfirmationHandler.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AccessForAllValidation.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllActorInterface.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpaInterface.php
  service-api/app/src/App/src/Service/Lpa/CheckLpaCleansed.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa/ActorMatch.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa/ActorMatchingInterface.php
  service-api/app/src/App/src/Service/Lpa/FindActorInLpa/FindActorInLpaInterface.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus.php
  service-api/app/src/App/src/Service/Lpa/GetAttorneyStatus/GetAttorneyStatusInterface.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus.php
  service-api/app/src/App/src/Service/Lpa/GetTrustCorporationStatus/GetTrustCorporationStatusInterface.php
  service-api/app/src/App/src/Service/Lpa/IsValidLpa.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/CombinedHasActorTrait.php
  service-api/app/src/App/src/Service/Lpa/ResolveActor/ResolveActorInterface.php
  service-api/app/src/App/src/Service/Lpa/RestrictSendingLpaForCleansing.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Entity/CanCastSiriusDonorTest.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanHydrateSiriusToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/CastSingleDonorTest.php
  service-api/app/test/AppTest/Entity/LpaStoreTest.php
  service-api/app/test/AppTest/Entity/SiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/AccessForAll/AccessForAllValidationTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/CheckLpaCleansedTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedSiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/FindActorInLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/GetAttorneyStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/GetTrustCorporationStatusTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusPersonTest.php
  service-api/app/test/fixtures/test_lpa.json
  service-api/seeding/dynamodb.py
Labels: php, python, service-api, service-front

#2949 Update serveritys in report
  scripts/pipeline/generate_trivy_report/code_scan_report.py
Labels: python

#2948 UML-3706 fix stats in Admin portal
  README.md
  docker-compose.yml
  service-admin/internal/server/export_test.go
  service-admin/internal/server/handlers/stats_test.go
  service-admin/internal/server/templates.go
  service-admin/internal/server/templates_test.go
  service-admin/web/templates/stats.page.gohtml
  service-api/seeding/dynamodb.py
Labels: docker, go, python, service-api, service-admin

#2970 add sqs kms key
  terraform/account/kms.tf
Labels: terraform
