Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2025-03, with the labels that each got.

#3156 UML-3842: update scheduled action
  .github/workflows/scheduled-update-demo.yml
  .github/workflows/trivy_scan_alert_report.yml
Labels: github-actions

#3163 UML-3842: change cron
  .github/workflows/trivy_scan_alert_report.yml
Labels: github-actions

#3177 UML-3857: scale up in prep for Money Show feature
  terraform/environment/terraform.tfvars.json
Labels: terraform

#3168 Uml 3781 actor side code viewing
  .idea/phpunit.xml
  Makefile
  docker-compose.dependencies.yml
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Entity/Value/LpaUid.php
  service-api/app/src/App/src/Enum/LpaSource.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/src/App/src/Service/ViewerCodes/ViewerCodeService.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Entity/Value/LpaUidTest.php
  service-api/app/test/AppTest/Service/ViewerCodes/ViewerCodeServiceTest.php
Labels: php, docker, service-api

#3142 Uml 3737 add user lpa actor map
  .github/workflows/pull-request-path.yml
  Makefile
  docker-compose.dependencies.yml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/README.md
  lambda-functions/event-receiver/app/factory.go
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/main_test.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks/DynamodbClient.go
  lambda-functions/event-receiver/internal/dynamo/client.go
  lambda-functions/event-receiver/internal/dynamo/client_test.go
  localstack/localstack-init.sh
  mock-integrations/makeregister/lpa-access-granted-events/4UX3.json
  service-api/app/src/App/src/Service/User/ResolveOAuthUser.php
  terraform/environment/lambda.tf
Labels: php, terraform, docker, go, github-actions, service-api

#3190 Dynamodb container removal
  docker-compose.dependencies.yml
  docker-compose.yml
  service-api/docker/seeding/start.sh
  service-api/seeding/dynamodb.py
  service-api/seeding/put_actor_codes.py
Labels: docker, python, service-api

#3198 upgrade tj-actions/files-changed to post incident version
  .github/workflows/_ecr-scanning.yml
  .github/workflows/path-to-live.yml
  .github/workflows/pull-request-path.yml
  .github/workflows/workflow-deploy-ref-to-env.yml
  terraform/environment/region/data_sources.tf
Labels: terraform, github-actions

#3191 UML-3784: Refactor LpaAlreadyAdded to work with combined format
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/AddLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/LpaAlreadyAdded.php
  service-api/app/src/App/src/Service/Lpa/LpaAlreadyAdded/DonorInformationInterface.php
  service-api/app/src/App/src/Service/Lpa/LpaAlreadyAdded/LpaAlreadyAddedInterface.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Entity/SiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/AddLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/LpaAlreadyAddedTest.php
Labels: php, service-api

#3203 UML-3860 Configure demo environment to point to demo lpastore
  terraform/environment/terraform.tfvars.json
Labels: terraform

#3172 UML-3847: update scheduled demo envrionment
  .github/workflows/scheduled-update-demo.yml
  scripts/pipeline/workspace_cleanup/workspace_cleanup.sh
Labels: github-actions

#3185 UML-3857: reset scaling to normal
  terraform/environment/terraform.tfvars.json
Labels: terraform

#3197 Uml 3785 refactor add lpa to work with combined format
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Service/ActorCodes/Validation/CodesApiValidationInterface.php
  service-api/app/src/App/src/Service/ActorCodes/Validation/CodesApiValidationStrategy.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/AddLpa.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/AddLpaInterface.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/Service/ActorCodes/Validation/CodesApiValidationStrategyTest.php
  service-api/app/test/AppTest/Service/Lpa/AddLpaTest.php
Labels: php, docker, service-api, service-front

#3218 Running hadolint against docker file
  .github/workflows/_build-and-push.yml
  .github/workflows/golang-linting.yml
  service-admin/.golangci.yml
  service-admin/Dockerfile
  service-admin/internal/server/handlers/handler_test.go
  service-admin/internal/server/handlers/search.go
  service-admin/internal/server/server.go
Labels: docker, go, github-actions, service-admin

#3222 UML-3807: add dynamodb envars to Lambda
  terraform/environment/lambda.tf
Labels: terraform

#3219 UML-3887 lint docker files
  service-front/docker/app/Dockerfile
Labels: docker, service-front

#3211 implemented interface supporting new and old sirius format
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/RestrictSendingLpaForCleansing.php
  service-api/app/src/App/src/Service/Lpa/RestrictSendingLpaForCleansing/RestrictSendingLpaForCleansingInterface.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/ValidateAccessForAllLpaRequirements.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedSiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/RestrictSendingLpaForCleansingTest.php
  service-api/app/test/AppTest/Service/Lpa/SiriusLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/ValidateAccessForAllLpaRequirementsTest.php
Labels: php, service-api
