Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2025-05, with the labels that each got.

#3261 UML-3927: update docker images
  service-api/docker/app/Dockerfile
  service-api/docker/web/Dockerfile
  service-front/docker/app/Dockerfile
  service-front/docker/web/Dockerfile
Labels: docker, service-api, service-front

#3231 UML-3818: Fixes to allow removing an LPA from account
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/DataAccess/DynamoDb/ViewerCodes.php
  service-api/app/src/App/src/DataAccess/Repository/ViewerCodesInterface.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Service/Lpa/LpaRemoved/LpaRemovedDonorInformationInterface.php
  service-api/app/src/App/src/Service/Lpa/LpaRemoved/LpaRemovedInterface.php
  service-api/app/src/App/src/Service/Lpa/RemoveLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpa.php
  service-api/app/src/App/src/Service/Lpa/SiriusPerson.php
  service-api/app/test/AppTest/DataAccess/DynamoDb/ViewerCodesTest.php
  service-api/app/test/AppTest/Service/Lpa/RemoveLpaTest.php
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/src/Actor/src/Handler/RemoveLpaHandler.php
  service-front/app/src/Common/src/Service/Lpa/RemoveLpa.php
  service-front/app/test/CommonTest/Service/Lpa/RemoveLpaTest.php
Labels: php, service-api, service-front

#3265 UML-3928: Pin Docker images to digests
  .github/workflows/golang-linting.yml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
  localstack/Dockerfile
  renovate.json
  service-admin/Dockerfile
  service-admin/go.mod
  service-admin/go.sum
  service-admin/proxy/Dockerfile
  service-admin/proxy/go.mod
  service-api/docker/app/Dockerfile
  service-api/docker/web/Dockerfile
  service-front/docker/app/Dockerfile
  service-front/docker/web/Dockerfile
Labels: dependencies, docker, github-actions, service-api, service-front, service-admin

#3269 Revert "Renovate Update govuk-one-login-service-header digest to 8d977bc"
  service-front/web/package-lock.json
  service-front/web/package.json
Labels: dependencies, service-front

#3249 Uml 3548 Start of Paper verification journey
  docker-compose.dependencies.yml
  docker-compose.yml
  service-api/docker/app/Dockerfile
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/src/Workflow/State.php
  service-front/app/src/Common/src/Workflow/WorkflowStep.php
  service-front/app/src/Viewer/src/Handler/AbstractPVSCodeHandler.php
  service-front/app/src/Viewer/src/Handler/EnterCodeHandler.php
  service-front/app/src/Viewer/src/Handler/EnterPVSCodeHandler.php
  service-front/app/src/Viewer/src/Handler/HomePageHandler.php
  service-front/app/src/Viewer/src/Workflow/PaperVerificationShareCode.php
  service-front/app/src/Viewer/templates/viewer/enter-code-pv.html.twig
  service-front/app/src/Viewer/templates/viewer/home-page.html.twig
  service-front/app/test/ViewerTest/Handler/Factory/CheckCodeHandlerFactoryTest.php
  service-front/app/test/ViewerTest/Handler/HomePageHandlerTest.php
  service-front/app/test/ViewerTest/Workflow/PaperVerificationCodeTest.php
  service-front/docker/app/Dockerfile
  terraform/environment/terraform.tfvars.json
  tests/smoke/context/ViewerContext.php
Labels: php, terraform, docker, service-api, service-front

#3270 Form input hints should be divs not spans
  service-front/app/src/Common/templates/partials/govuk_form.html.twig
Labels: service-front

#3272 UML 3002 R&C images
  mock-integrations/lpa-data-store/mock-responses.js
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/LpaStoreTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Lpa.php
  service-front/app/src/Common/src/Enum/Channel.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
  service-front/app/src/Common/src/View/Twig/LpaExtension.php
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-details-combined-lpa.html.twig
  service-front/app/test/CommonTest/Entity/CombinedLpaTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/CommonTest/Service/Lpa/LpaServiceTest.php
  service-front/app/test/CommonTest/View/Twig/LpaExtensionTest.php
Labels: php, javascript, service-api, service-front

#3276 Bump twig/twig from 3.18.0 to 3.20.0 in /service-front/app
  service-front/app/composer.lock
Labels: service-front

#3280 UML-3942: force dnf update
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/upload-statistics/Dockerfile
Labels: docker

#3281 UML-3942: update libxml2
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/upload-statistics/Dockerfile
Labels: docker

#3241 Update C4 diagram. Remove the structurizer folders
  docs/diagrams/dsl/README.md
  docs/diagrams/dsl/structurizr-Component-001.mmd
  docs/diagrams/dsl/structurizr-Component-001.png
  docs/diagrams/dsl/structurizr-Component-002.mmd
  docs/diagrams/dsl/structurizr-Component-002.png
  docs/diagrams/dsl/structurizr-Component-003.mmd
  docs/diagrams/dsl/structurizr-Component-003.png
  docs/diagrams/dsl/structurizr-Component-004.mmd
  docs/diagrams/dsl/structurizr-Component-004.png
  docs/diagrams/dsl/structurizr-Component-005.mmd
  docs/diagrams/dsl/structurizr-Component-005.png
  docs/diagrams/dsl/structurizr-Container-001.mmd
  docs/diagrams/dsl/structurizr-Container-001.png
  docs/diagrams/dsl/structurizr-Container-002.mmd
  docs/diagrams/dsl/structurizr-Container-002.png
  docs/diagrams/dsl/structurizr-SystemContext-001.mmd
  docs/diagrams/dsl/structurizr-SystemContext-001.png
  docs/diagrams/dsl/structurizr.properties
  docs/diagrams/dsl/ualpa.dsl
  docs/diagrams/dsl/workspace.dsl
  docs/diagrams/use-an-lpa-c4-l2.svg
Labels: documentation

#3275 paper verification code - LPA number reference
  docker-compose.yml
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Form/LpaCheck.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckLpaCodeHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code.html.twig
  service-front/app/test/ViewerTest/Form/LpaCheckTest.php
Labels: php, docker, service-front

#3279 UML-3258 : lpa not found using paper verification code
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Handler/CheckCodeHandler.php
  service-front/app/src/Viewer/templates/viewer/lpa-not-found-with-pvc.html.twig
Labels: php, docker, service-front
