Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2025-07, with the labels that each got.

#3316 Bump golang version. Correct case in AS.
  service-admin/Dockerfile
  service-admin/go.mod
  service-admin/proxy/Dockerfile
  service-admin/proxy/go.mod
Labels: dependencies, docker, service-admin

#3320 Golang 1.24.4 event receiver
  .github/workflows/golang-linting.yml
  .pre-commit-config.yaml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/go.mod
  localstack/Dockerfile
Labels: dependencies, docker, github-actions

#3317 UML-3085 Move service-front to PHP 8.3
  .github/workflows/php-linting.yml
  .github/workflows/psalm-static-analysis-front.yml
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/features/context/Integration/AccountContext.php
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/features/context/Integration/ViewerContext.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/CommonContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckLpaCodeHandler.php
  service-front/docker/app/Dockerfile
Labels: dependencies, php, docker, github-actions, service-api, service-front

#3323 UML-3996: update icu ver
  service-front/docker/app/Dockerfile
Labels: docker, service-front

#3329 Uml 3999 Implement apostrophe normalisation in viewer
  service-front/app/src/Common/src/Filter/ActorViewerCodeFilter.php
  service-front/app/src/Common/src/Filter/ConvertQuotesToApostrophe.php
  service-front/app/src/Common/src/Filter/ShareCodeFilter.php
  service-front/app/src/Common/src/Filter/StripSpacesAndHyphens.php
  service-front/app/src/Viewer/src/Form/PVShareCode.php
  service-front/app/src/Viewer/src/Form/ShareCode.php
  service-front/app/test/CommonTest/Filter/ActorViewerCodeFilterTest.php
  service-front/app/test/CommonTest/Filter/ConvertQuotesToApostropheTest.php
  service-front/app/test/CommonTest/Filter/ShareCodeFilterTest.php
  service-front/app/test/CommonTest/Filter/StripSpacesAndHyphensTest.php
Labels: php, service-front

#3318 UML-3987 - migrate development to new network
  scripts/pipeline/ci_ingress/ci_ingress.py
  scripts/pipeline/requirements.txt
  terraform/account/modules/dynamodb_cloudtrail/s3.tf
  terraform/account/region/data_sources.tf
  terraform/account/region/elasticache.tf
  terraform/account/region/firewalled_network.tf
  terraform/account/region/lookups.tf
  terraform/account/region/modules/dns_firewall/data_sources.tf
  terraform/account/region/modules/dns_firewall/main.tf
  terraform/account/region/vpc_endpoints.tf
  terraform/environment/config_file.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/admin_load_balancer.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/mock_onelogin_load_balancer.tf
  terraform/environment/region/network.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/use_load_balancer.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/region/viewer_load_balancer.tf
Labels: dependencies, terraform, python

#3330 UML-4002 - migrate preproduction to new network
  terraform/account/region/elasticache.tf
  terraform/account/region/modules/dns_firewall/main.tf
  terraform/environment/region/admin_ecs.tf
  terraform/environment/region/admin_load_balancer.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/mock_onelogin_load_balancer.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/pdf_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/use_load_balancer.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/region/viewer_load_balancer.tf
Labels: terraform

#3337 runbook link to IaP
  docs/runbooks/reextract-an-lpa-scan.md
Labels: documentation

#3344 test docs path
  docs/runbooks/reextract-an-lpa-scan.md
Labels: documentation

#3345 UML-4026: fix docs workflow
  .github/workflows/_slack-notification.yml
  scripts/pipeline/post_release_slack_notification/documentation_update.txt
  scripts/pipeline/post_release_slack_notification/production_release.txt
Labels: github-actions

#3346 test docs only
  docs/runbooks/reextract-an-lpa-scan.md
Labels: documentation

#3332 UML-2909-setup-psalm-baseline
  .github/workflows/php-linting.yml
  .github/workflows/psalm-static-analysis-api.yml
  .github/workflows/psalm-static-analysis-front.yml
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/config/pipeline.php
  service-api/app/config/routes.php
  service-api/app/psalm-baseline.xml
  service-api/app/psalm.xml
  service-api/app/src/App/src/Service/Lpa/LpaDataFormatter.php
  service-api/app/src/App/src/Service/Secrets/AbstractKeyPairManager.php
  service-api/app/src/App/src/Service/Secrets/LpaDataStoreSecretManager.php
  service-front/app/psalm-baseline.xml
  service-front/app/psalm.xml
Labels: dependencies, php, github-actions, service-api, service-front

#3347 UML-4026: prevent failed deploy message on success
  .github/workflows/_slack-notification.yml
  .github/workflows/path-to-live.yml
Labels: github-actions

#3348 UML-4029: move stats to opg-lpa-stats
  .github/workflows/statistics.yml
Labels: github-actions

#3351 UML-4030: remove mock onelogin from production
  terraform/environment/config_file.tf
  terraform/environment/region/dns.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/mock_onelogin_ecs.tf
  terraform/environment/region/mock_onelogin_load_balancer.tf
  terraform/environment/region/outputs.tf
Labels: terraform

#3350 UML-3986:Updating the textphone number
  service-front/app/src/Common/templates/partials/contact-details/telephone.html.twig
Labels: service-front
