Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2025-04, with the labels that each got.

#3223 UML-3871 & UML-3869 updated incorrect type
  service-api/app/src/App/src/Entity/Sirius/SiriusLpaDonor.php
  service-api/app/src/App/src/Exception/LpaAlreadyHasActivationKeyException.php
  service-api/app/src/App/src/Exception/LpaAlreadyHasActivationKeyInterface.php
  service-api/app/src/App/src/Service/Lpa/AccessForAll/AddAccessForAllLpa.php
  service-api/app/src/App/src/Service/Lpa/CheckLpaCleansed.php
  service-api/app/test/AppTest/Exception/LpaAlreadyHasActivationKeyExceptionTest.php
  service-api/app/test/AppTest/Service/Lpa/AddAccessForAllLpaTest.php
  service-api/app/test/AppTest/Service/Lpa/CheckLpaCleansedTest.php
Labels: php, service-api

#3225 UML-3891 Add auditable id to store requests
  docker-compose.dependencies.yml
  mock-integrations/lpa-data-store/build.mjs
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/package-lock.json
  mock-integrations/lpa-data-store/package.json
  mock-integrations/lpa-data-store/src/index.mjs
  mock-integrations/lpa-data-store/src/types/index.d.ts
  mock-integrations/lpa-data-store/src/types/index.ts
  service-api/app/src/App/src/DataAccess/ApiGateway/DataStoreLpas.php
  service-api/app/src/App/src/DataAccess/Repository/AuditableLpasInterface.php
  service-api/app/src/App/src/DataAccess/Repository/LpasInterface.php
  service-api/app/src/App/src/Exception/OriginatorIdNotSetException.php
  service-api/app/src/App/src/Service/Lpa/Combined/ResolveLpaTypes.php
  service-api/app/src/App/src/Service/Lpa/CombinedLpaManager.php
  service-api/app/src/App/src/Service/Lpa/LpaManagerInterface.php
  service-api/app/src/App/src/Service/Lpa/SiriusLpaManager.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/DataStoreLpasTest.php
  service-api/app/test/AppTest/DataAccess/ApiGateway/PSR17PropheciesTrait.php
  service-api/app/test/AppTest/Service/Lpa/Combined/ResolveLpaTypeTest.php
  service-api/app/test/AppTest/Service/Lpa/CombinedLpaManagerTest.php
Labels: dependencies, php, javascript, docker, service-api

#3229 Surfaced restrictionsAndConditions field in combined format lpa
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/src/lpas/4UX3.json
  service-api/app/src/App/src/Entity/Lpa.php
  service-api/app/src/App/src/Entity/LpaStore/LpaStore.php
  service-api/app/src/App/src/Entity/Sirius/SiriusLpa.php
  service-api/app/test/AppTest/Entity/CanHydrateLpaStoreToModerniseFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseLpaStoreToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/CanSerialiseSiriusToCombinedFormatTest.php
  service-api/app/test/AppTest/Entity/LpaStoreTest.php
  service-api/app/test/AppTest/Service/Lpa/ResolveActor/CombinedLpaHasActorTraitTest.php
  service-api/app/test/fixtures/4UX3.json
  service-front/app/src/Common/src/Entity/CombinedLpa.php
  service-front/app/src/Common/src/Entity/Lpa.php
  service-front/app/test/CommonTest/Entity/CanHydrateCombinedLpaTest.php
  service-front/app/test/CommonTest/Helper/EntityTestHelper.php
  service-front/app/test/fixtures/combined_lpa.json
Labels: php, javascript, service-api, service-front

#3230 UML-3786 Add by code fixes for combined format
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/src/App/src/Service/ActorCodes/ActorCodeService.php
  service-api/app/src/App/src/Service/ActorCodes/ValidatedActorCode.php
  service-api/app/src/App/src/Service/Lpa/AddLpa/AddLpa.php
  service-api/app/test/AppTest/Service/ActorCodes/ActorCodeServiceTest.php
  service-api/app/test/AppTest/Service/Lpa/AddLpaTest.php
  service-api/app/test/BehatTest/LpaTestUtilities.php
Labels: php, service-api

#3235 added lpa ref number column to expired access code Reports
  query/dynamodb_export.py
Labels: python

#3234 In dashboard inform user they have restrictions and conditions MLPA
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Actor/templates/actor/partials/lpa-instructions-preferences-important-message.html.twig
Labels: service-front

#3236 updated lambda img in Event Receiver
  lambda-functions/event-receiver/Dockerfile
Labels: docker

#3245 Bump golang and packages to fix critical and get build working again
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
  scripts/add_historical_statistics/go.mod
  scripts/add_historical_statistics/go.sum
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
  service-admin/Dockerfile
  service-admin/go.mod
  service-admin/proxy/go.mod
Labels: dependencies, docker, python, service-admin

#3246 update welsh translation for terms of use
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
Labels: service-front

#3247 fix golang version
  localstack/Dockerfile
Labels: docker

#3251 ignore cve for all repos not just upload stats
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
Labels: python
