Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2025-01, with the labels that each got.

#2978 UML-3628 Request a key templates to work with combined format
  service-front/app/features/actor-view-lpa.feature
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/src/Actor/src/Handler/CheckLpaHandler.php
  service-front/app/src/Actor/src/Handler/CreateViewerCodeHandler.php
  service-front/app/src/Actor/src/Handler/Factory/CheckLpaHandlerFactory.php
  service-front/app/src/Actor/templates/actor/check-combined-lpa.html.twig
  service-front/app/src/Actor/templates/actor/lpa-show-viewercode-combined-lpa.html.twig
  service-front/app/src/Common/templates/partials/lpa-summary-details/lpa-donor-details-combined-lpa.html.twig
  service-front/app/test/fixtures/combined_lpa.json
Labels: php, terraform, docker, service-front

#3025 Remove confd for nginx config and use native templating instead
  docker-compose.yml
  service-api/docker/web/Dockerfile
  service-api/docker/web/default.conf.template
  service-api/docker/web/etc/confd/conf.d/nginx.toml
  service-front/docker/web/Dockerfile
  service-front/docker/web/default.conf.template
  service-front/docker/web/etc/confd/conf.d/nginx.toml
Labels: docker, service-api, service-front

#3036 UML-3683 add lpas count report to monthly reports script
  query/dynamodb_export.py
Labels: python

#3037 UML-3738: allow updated key policy
  terraform/account/kms.tf
Labels: terraform

#3040 UML-3738: remove env name from kms
  terraform/account/kms.tf
Labels: terraform

#3044 UML-3738: add role permissions to decrypt kms key
  terraform/account/kms.tf
Labels: terraform

#3045 UML-3738: add missing action
  terraform/account/kms.tf
Labels: terraform

#3046 UML-3738: remove lambda from key policy
  terraform/account/kms.tf
Labels: terraform

#3014 UML-3738: eventbridge & lambda permissions
  .github/workflows/pull-request-path.yml
  lambda-functions/event-receiver/app/main.go
  terraform/account/kms.tf
  terraform/environment/lambda.tf
  terraform/environment/modules/lambda/outputs.tf
  terraform/environment/region.tf
  terraform/environment/region/event_bus.tf
  terraform/environment/region/locals.tf
  terraform/environment/region/modules/event_bus/bus.tf
  terraform/environment/region/modules/event_bus/main.tf
  terraform/environment/region/modules/event_bus/outputs.tf
  terraform/environment/region/modules/event_bus/sqs.tf
  terraform/environment/region/modules/event_bus/variables.tf
  terraform/environment/region/outputs.tf
  terraform/environment/region/variables.tf
  terraform/environment/shared_data_sources.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Labels: terraform, go, github-actions

#3051 UML-3731: allow lambda access to DynamoDB
  terraform/environment/lambda.tf
Labels: terraform

#3043 UML-3771: Incorporating the major frontend change from the GovUK Design System
  service-front/app/src/Common/templates/layout/default.html.twig
Labels: service-front

#3048 UML-3683 extra report, of users with no lpas
  query/dynamodb_export.py
Labels: python

#3031 UML-3394 Update mock services with new/revised data and functionality
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/src/lpas/4UX3.json
  mock-integrations/lpa-data-store/src/lpas/lpas.mjs
  mock-integrations/nginx.conf
  mock-integrations/opg-data-lpa/generate_examples/make_examples.sh
  mock-integrations/opg-data-lpa/generate_examples/nginx-template.conf
  mock-integrations/opg-data-lpa/mock-openapi-examples.yaml
  mock-integrations/opg-data-lpa/mock-openapi.yaml
  mock-integrations/secrets-manager/localstack_init.sh
Labels: javascript

#3061 Uml 3790 Fix feature flag usage in behat tests
  .idea/runConfigurations/API_Acceptance.xml
  .idea/runConfigurations/API_Acceptance__Single_Scenario.xml
  .idea/runConfigurations/API_Integration.xml
  .idea/runConfigurations/API_Integration__Single_Scenario.xml
  .idea/runConfigurations/Front_Integration.xml
  .idea/runConfigurations/Front_UI.xml
  .idea/runConfigurations/Front_UI__Single_Scenario.xml
  .idea/runConfigurations/Smoke.xml
  Makefile
  docker-compose.yml
  service-api/docker/app/Dockerfile
  service-front/app/features/context/Integration/AccountContext.php
  service-front/app/features/context/Integration/BaseIntegrationContext.php
  service-front/app/features/context/Integration/FeatureFlagContext.php
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/features/context/Integration/ViewerContext.php
  service-front/app/features/context/UI/FeatureFlagContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/View/Twig/FeatureFlagExtension.php
  service-front/app/src/Common/src/View/Twig/FeatureFlagRuntime.php
  service-front/app/test/CommonTest/View/Twig/FeatureFlagExtensionTest.php
  service-front/app/test/CommonTest/View/Twig/FeatureFlagRuntimeTest.php
  service-front/docker/app/Dockerfile
Labels: php, docker, service-api, service-front

#3032 Uml 3764 remove one login feature flag
  .github/workflows/_run-behat-tests.yml
  .idea/phpunit.xml
  docker-compose.yml
  service-api/app/features/actor-delete-account.feature
  service-api/app/features/actor-logout.feature
  service-api/app/features/actor-password-change.feature
  service-api/app/features/bootstrap/config.php
  service-front/app/config/autoload/features.global.php
  service-front/app/config/routes.php
  service-front/app/features/actor-account-creation.feature
  service-front/app/features/actor-back-navigation.feature
  service-front/app/features/actor-delete-account.feature
  service-front/app/features/actor-login.feature
  service-front/app/features/actor-logout.feature
  service-front/app/features/actor-one-login.feature
  service-front/app/features/actor-password-change.feature
  service-front/app/features/actor-password-needs-reset.feature
  service-front/app/features/actor-password-reset.feature
  service-front/app/features/actor-privacy-notice.feature
  service-front/app/features/actor-terms-of-use.feature
  service-front/app/features/actor-triage.feature
  service-front/app/features/actor-your-details.feature
  service-front/app/features/bootstrap/behat.config.php
  service-front/app/features/common-language.feature
  service-front/app/features/context/Integration/AccountContext.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/src/Actor/src/Handler/Factory/LogoutPageHandlerFactory.php
  service-front/app/src/Actor/templates/actor/settings.html.twig
  service-front/app/src/Common/src/Middleware/Authentication/AuthenticationMiddlewareFactory.php
  service-front/app/src/Common/templates/layout/default.html.twig
  service-front/app/test/ActorTest/Handler/Factory/LogoutPageHandlerFactoryTest.php
  service-front/app/test/CommonTest/Middleware/Authentication/AuthenticationMiddlewareTest.php
  terraform/environment/config_file.tf
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/use_ecs.tf
  terraform/environment/region/viewer_ecs.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
  tests/features/actor-login.feature
  tests/smoke/.env
  tests/smoke/context/AccountContext.php
  tests/smoke/docker-compose.smoke.yml
Labels: php, terraform, docker, github-actions, service-api, service-front

#3071 UML- 3791:Unable to remove an LPA that you are cancelled on
  service-front/app/features/actor-remove-lpa.feature
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/src/Common/src/Service/Lpa/LpaService.php
  service-front/app/src/Common/src/Service/Lpa/ParseLpaData.php
Labels: php, service-front

#3080 Fix CSP nonce headers not being set correctly
  service-front/app/config/autoload/templates.global.php
  service-front/docker/web/default.conf.template
  tests/smoke/behat.yml
  tests/smoke/composer.lock
  tests/smoke/context/AccountContext.php
  tests/smoke/context/CommonContext.php
Labels: php, service-front

#3066 Rector pass of front/api/smoke feature tests
  .idea/phpunit.xml
  service-api/app/composer.json
  service-api/app/composer.lock
  service-api/app/features/context/Acceptance/AccountContext.php
  service-api/app/features/context/Acceptance/BaseAcceptanceContext.php
  service-api/app/features/context/Acceptance/CommonContext.php
  service-api/app/features/context/Acceptance/FeatureFlagContext.php
  service-api/app/features/context/Acceptance/LpaContext.php
  service-api/app/features/context/Acceptance/OidcContext.php
  service-api/app/features/context/Acceptance/ViewerContext.php
  service-api/app/features/context/BaseAcceptanceContextTrait.php
  service-api/app/features/context/Integration/AccountContext.php
  service-api/app/features/context/Integration/BaseIntegrationContext.php
  service-api/app/features/context/Integration/FeatureFlagContext.php
  service-api/app/features/context/Integration/LpaContext.php
  service-api/app/features/context/Integration/ViewerContext.php
  service-api/app/features/context/SetupEnv.php
  service-api/app/features/context/UsesPactContextTrait.php
  service-api/app/rector.php
  service-front/app/behat.yml
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/features/actor-create-access-code.feature
  service-front/app/features/context/ActorContextTrait.php
  service-front/app/features/context/BaseUiContextTrait.php
  service-front/app/features/context/ContextUtilities.php
  service-front/app/features/context/Integration/AccountContext.php
  service-front/app/features/context/Integration/BaseIntegrationContext.php
  service-front/app/features/context/Integration/FeatureFlagContext.php
  service-front/app/features/context/Integration/LpaContext.php
  service-front/app/features/context/Integration/ViewerContext.php
  service-front/app/features/context/UI/AccountContext.php
  service-front/app/features/context/UI/BaseUiContext.php
  service-front/app/features/context/UI/CommonContext.php
  service-front/app/features/context/UI/FeatureFlagContext.php
  service-front/app/features/context/UI/LpaContext.php
  service-front/app/features/context/UI/RequestActivationKeyContext.php
  service-front/app/features/context/UI/SharedState.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/context/ViewerContextTrait.php
  service-front/app/rector.php
  tests/smoke/composer.json
  tests/smoke/composer.lock
  tests/smoke/context/AccountContext.php
  tests/smoke/context/BaseContextTrait.php
  tests/smoke/context/CommonContext.php
  tests/smoke/context/FeatureFlagContextTrait.php
  tests/smoke/context/ViewerContext.php
  tests/smoke/rector.php
Labels: dependencies, php, service-api, service-front

#2704 Fix up the healthcheck endpoint
  Makefile
  mock-integrations/image-request-handler/mock-config.yaml
  mock-integrations/image-request-handler/mocked-images/v1/healthcheck
  service-api/app/src/App/src/DataAccess/ApiGateway/RequestSigner.php
  service-api/app/src/App/src/Handler/Factory/HealthcheckHandlerFactory.php
  service-api/app/src/App/src/Handler/HealthcheckHandler.php
  service-api/app/test/AppTest/Handler/Factory/HealthcheckHandlerFactoryTest.php
  service-api/app/test/AppTest/Handler/HealthcheckHandlerTest.php
  tests/features/check-service-status.feature
  tests/smoke/context/CommonContext.php
Labels: php, service-api

#3091 UML-3804: lpa-data-store secret access
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Labels: terraform

#3090 Add lpastore to healthcheck
  .github/workflows/psalm-static-analysis-api.yml
  .github/workflows/psalm-static-analysis-front.yml
  docker-compose.dependencies.yml
  docker-compose.yml
  mock-integrations/lpa-data-store/mock-responses.js
  mock-integrations/lpa-data-store/src/index.mjs
  service-api/app/config/autoload/envs.global.php
  service-api/app/src/App/src/Handler/Factory/HealthcheckHandlerFactory.php
  service-api/app/src/App/src/Handler/HealthcheckHandler.php
  service-api/app/test/AppTest/Handler/Factory/HealthcheckHandlerFactoryTest.php
  service-api/app/test/AppTest/Handler/HealthcheckHandlerTest.php
Labels: php, javascript, docker, github-actions, service-api

#3101 UML-3808: allow api ecs access to secretsmanager
  terraform/account/locals.tf
  terraform/account/region.tf
  terraform/account/region/s3_lb_access_logs.tf
  terraform/account/region/variables.tf
  terraform/account/region/vpc_flowlogs.tf
  terraform/environment/locals.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
Labels: terraform

#3102 Revert "UML-3808: allow api ecs access to secretsmanager"
  terraform/account/locals.tf
  terraform/account/region.tf
  terraform/account/region/s3_lb_access_logs.tf
  terraform/account/region/variables.tf
  terraform/account/region/vpc_flowlogs.tf
  terraform/environment/locals.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
Labels: terraform

#3104 remove whitespace to trigger pipeline
  terraform/account/kms.tf
Labels: terraform
