Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2025-06, with the labels that each got.

#3285 UML-3745: Changes to adda new attorney details page for PV journey
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Common/src/View/Twig/GovUKLaminasFormExtension.php
  service-front/app/src/Common/templates/partials/govuk_form.html.twig
  service-front/app/src/Viewer/src/Form/AttorneyDetailsForPV.php
  service-front/app/src/Viewer/src/Handler/ProvideAttorneyDetailsForPVHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/provide-attorney-details.html.twig
  service-front/app/test/ViewerTest/Form/AttorneyDetailsForPVTest.php
Labels: php, docker, service-front

#3283 Uml 3933 feature flags on behat test env
  .github/workflows/_run-behat-tests.yml
  Makefile
  terraform/environment/config_file.tf
  tests/features/download-pdf.feature
  tests/features/instructions-and-preferences.feature
  tests/features/view-lpa-using-sharecode.feature
  tests/smoke/context/CommonContext.php
  tests/smoke/context/ViewerContext.php
  tests/smoke/docker-compose.smoke.yml
  tests/smoke/src/Decorator/FeatureFlagScenarioSkipper.php
  tests/smoke/src/SmokeExtension.php
Labels: php, terraform, docker, github-actions

#3284 Allow orgs to enter donor date of birth PV
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Form/PVDateOfBirth.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/PVDonorDateOfBirthHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/donor-dob.html.twig
  service-front/app/test/ViewerTest/Form/PVDateOfBirthTest.php
Labels: php, service-front

#3299 UML-3962: remove app insights
  terraform/account/region/application_insights.tf
  terraform/account/region/pagerduty.tf
  terraform/account/region/variables.tf
  terraform/environment/region.tf
  terraform/environment/region/application_insights.tf
  terraform/environment/region/pagerduty.tf
  terraform/environment/region/variables.tf
  terraform/environment/variables.tf
Labels: terraform

#3300 Fix LPA Codes demo endpoint
  terraform/environment/terraform.tfvars.json
Labels: terraform

#3301 UML-3962: implement app insights
  terraform/environment/region/application_insights.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Labels: terraform

#3309 UML-3948: Upgrade to Redis 7.x
  terraform/account/region/elasticache.tf
Labels: terraform

#3291 New form (and validation) for codes and surname
  service-front/app/src/Common/src/Filter/ShareCodeFilter.php
  service-front/app/src/Viewer/src/Form/PVShareCode.php
  service-front/app/src/Viewer/src/Handler/EnterPVSCodeHandler.php
  service-front/app/test/CommonTest/Filter/ShareCodeFilterTest.php
  service-front/app/test/ViewerTest/Form/PVShareCodeTest.php
Labels: php, service-front
