Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2025-08, with the labels that each got.

#3331 UML-3972:Added new query to the dynamo db export script to extract duplicate LPA accounts
  query/dynamodb_export.py
Labels: python

#3355 UML-4040: update trivy step
  .github/workflows/_build-and-push.yml
  .github/workflows/_ecr-scanning.yml
  .github/workflows/pull-request-path.yml
  docs/runbooks/managing_trivy_image_scan_findings.md
  lambda-functions/event-receiver/.trivyignore.yaml
  lambda-functions/upload-statistics/.trivyignore.yaml
  scripts/pipeline/check_ecr_scan_results/README.md
  scripts/pipeline/check_ecr_scan_results/aws_ecr_scan_results.py
  scripts/pipeline/check_ecr_scan_results/requirements.txt
  service-admin/.trivyignore.yaml
  service-api/docker/app/.trivyignore.yaml
  service-api/docker/seeding/.trivyignore.yaml
  service-api/docker/web/.trivyignore.yaml
  service-front/docker/app/.trivyignore.yaml
  service-front/docker/web/.trivyignore.yaml
  service-front/web/.trivyignore.yaml
Labels: dependencies, python, github-actions, documentation, service-api, service-front, service-admin

#3361 Fixes for CVE-2025-47907
  docker-compose.yml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/upload-statistics/Dockerfile
  service-admin/Dockerfile
Labels: docker, service-admin

#3364 update slack notification logic
  .github/workflows/path-to-live.yml
Labels: github-actions

#3293 UML-3881: Enter organisation name for pv journey
  service-front/app/config/routes.php
  service-front/app/languages/cy/LC_MESSAGES/messages.mo
  service-front/app/languages/cy/LC_MESSAGES/messages.po
  service-front/app/languages/messages.pot
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
  service-front/app/src/Viewer/src/Workflow/PaperVerificationShareCode.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/enter-organisation-name.html.twig
Labels: php, python, service-front

#3367 UML-3797-deprecated-laminascrypt-removal-pt2
  .idea/phpunit.xml
  .idea/scopes/API.xml
  .idea/scopes/Front.xml
  service-front/app/composer.json
  service-front/app/composer.lock
  service-front/app/src/Common/src/ConfigProvider.php
  service-front/app/src/Common/src/Service/Session/Encryption/BlockCipherEncryptedCookie.php
  service-front/app/src/Common/src/Service/Session/Encryption/BlockCipherEncryptedCookieFactory.php
  service-front/app/src/Common/src/Service/Session/Encryption/EncryptionFallbackCookie.php
  service-front/app/src/Common/src/Service/Session/Encryption/EncryptionFallbackCookieFactory.php
  service-front/app/test/CommonTest/Service/Session/Encryption/BlockCipherEncryptedCookieTest.php
  service-front/app/test/CommonTest/Service/Session/Encryption/EncryptionFallbackCookieFactoryTest.php
Labels: dependencies, php, service-front

#3368 UML-4050: Code improvement to use state
  docker-compose.dependencies.yml
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
Labels: php, docker, service-front

#3343 stitching pages for paper verification journey
  service-front/app/config/routes.php
  service-front/app/features/context/UI/ViewerContext.php
  service-front/app/features/view-lpa-using-paper-verification-code.feature
  service-front/app/psalm-baseline.xml
  service-front/app/src/Viewer/src/Handler/AbstractPVSCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/AttorneyDateOfBirthHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckAnswersHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/CheckLpaCodeHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaNotFoundHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/LpaReadyToViewHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/NumberOfAttorneysHander.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/PaperVerificationCodeSentToHandler.php
  service-front/app/src/Viewer/src/Handler/PaperVerification/ProvideAttorneyDetailsForPVHandler.php
  service-front/app/src/Viewer/src/Handler/ProvideAttorneyDetailsForPVHandler.php
  service-front/app/src/Viewer/templates/viewer/paper-verification/attorney-dob.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-answers.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/check-code.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/donor-dob.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/enter-organisation-name.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/number-of-attorneys.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/provide-attorney-details.html.twig
  service-front/app/src/Viewer/templates/viewer/paper-verification/verification-code-sent-to.html.twig
Labels: php, docker, service-front
