Repository ministryofjustice/opg-use-an-lpa, pull requests merged in 2025-02, with the labels that each got.

#3119 UML-3811 and UML-3810 change survey links
  service-front/app/src/Actor/templates/actor/partials/new-use-service.html.twig
  service-front/app/src/Viewer/templates/viewer/new-view-service.html.twig
Labels: service-front

#3115 Uml 3802 test harness
  docker-compose.dependencies.yml
  lambda-functions/event-receiver/README.md
  localstack/Dockerfile
  localstack/localstack-init.sh
  mock-integrations/secrets-manager/localstack_init.sh
Labels: docker, go

#3070 Uml 3724 lambda to consume registration events
  .github/workflows/_build-and-push.yml
  .github/workflows/go-unit-test.yml
  .github/workflows/pull-request-path.yml
  lambda-functions/event-receiver/app/factory.go
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/main_test.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks/Handler.go
  lambda-functions/event-receiver/app/mocks/factory.go
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
  localstack/Dockerfile
Labels: dependencies, docker, go, github-actions

#3123 fix link
  service-front/app/src/Actor/templates/actor/partials/new-use-service.html.twig
Labels: service-front

#3130 UML-3813 upgrade deprecated upload_artifact and download_artifact in CI build
  .github/workflows/_build-and-push.yml
  .github/workflows/_codecov.yml
  .github/workflows/_node-build.yml
  .github/workflows/_run-behat-tests.yml
  .github/workflows/_run-terraform.yml
  .github/workflows/_seed-database.yml
  .github/workflows/_slack-notification.yml
  .github/workflows/path-to-live.yml
Labels: github-actions

#3129 UML-3808: allow api access to secretsmanager
  terraform/environment/locals.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/data_sources.tf
Labels: terraform

#3137 UAL-3816 - allow ecs api-app to execute lpa-store api gateway
  terraform/environment/region.tf
  terraform/environment/region/api_ecs.tf
  terraform/environment/region/variables.tf
  terraform/environment/terraform.tfvars.json
  terraform/environment/variables.tf
Labels: terraform

#3114 UML-3736 Event receiver to create db entries
  Makefile
  lambda-functions/event-receiver/.idea/event-receiver.iml
  lambda-functions/event-receiver/Dockerfile
  lambda-functions/event-receiver/app/factory.go
  lambda-functions/event-receiver/app/main.go
  lambda-functions/event-receiver/app/main_test.go
  lambda-functions/event-receiver/app/makeregister_event_handler.go
  lambda-functions/event-receiver/app/makeregister_event_handler_test.go
  lambda-functions/event-receiver/app/mocks/DynamodbClient.go
  lambda-functions/event-receiver/app/mocks/Handler.go
  lambda-functions/event-receiver/app/mocks/factory.go
  lambda-functions/event-receiver/go.mod
  lambda-functions/event-receiver/go.sum
  lambda-functions/event-receiver/internal/dynamo/client.go
  lambda-functions/event-receiver/internal/dynamo/client_test.go
  lambda-functions/event-receiver/internal/dynamo/mocks/DynamoDB.go
  localstack/Dockerfile
Labels: dependencies, docker, go

#3155 SP-2606 - use non legacy pdf-service ecr #minor
  terraform/environment/region/data_sources.tf
Labels: terraform
